
<!-- FOOTER -->
<footer class="footer">
  <div class="container">

    <div class="row hidden-xs">

      <div class="col-md-2 col-sm-3 col-xs-6">
        <h4>Products</h4>
        <a href="/products/point-of-sale">Point Of Sale</a><br/>
        <a href="/products/carbon">Carbon</a><br/>
        <a href="/products/distribution">List Your Tickets</a><br/>
        <a href="/products/API">API</a><br/>
        <a href="/products/fraud-protection">Fraud Protection</a><br/>
        <a href="/products/Evopay">Evopay</a><br/>
      </div>

      <div class="col-md-2 col-sm-3 col-xs-6">
        <h4>About</h4>
        <a href="/about">Our Company</a><br/>
        <a href="/about/tevo-team">Employees</a><br/>
        <a href="/about/jobs">Jobs</a><br/>
      </div>

      <div class="clearfix visible-xs-block"></div>
      <div class="col-md-2 col-sm-3 col-xs-6">
        <h4>Support</h4>
        <a href="/contact">Contact</a><br/>
        <a href="/contact-support">Support</a><br/>
        <a href="/support/video-guides">Video Guides</a><br/>
        <a href="https://twitter.com/ticketevolution" target="_blank">Twitter</a><br/>
      </div>

      <div class="col-md-2 col-sm-3 col-xs-6">
        <h4>Login</h4>
        <a href="http://core.ticketevolution.com/sessions/new" target="_blank">Point of sale</a><br/>
        <a href="http://exchange.ticketevolution.com/users/sign_in" target="_blank">Exchange</a><br/>

      </div>
      <!-- FOOTER RESPONSIVE -->

      <div class="col-md-4 col-sm-12 col-xs-12 ">
        <h4>Stay up-to-date with TEvo</h4>
        <!-- Begin MailChimp Signup Form -->
        <style>
          #mce-EMAIL, #mce-FNAME {
            float: left;
            margin-right: 15px!important;
            color: #333333;
            padding-left:10px;
          }
          #mc-embedded-subscribe { margin: 0; }
          #mce-EMAIL, #mce-FNAME {
            float: left;
            margin-right: 10px !important;
            width: 66%;
            padding: 6px;
            border: none;
          }
          #mc-embedded-subscribe {
            background: none repeat scroll 0 0 #00797b;
            border: medium none;
            /*border-bottom: 3px solid #42a498;*/
            border-radius: 0;
            font-size: 11px;
            margin: 0;
            padding: 6.6px 10px;
            letter-spacing: 2px;
            font-weight: 700;
          }
        </style>
        <div id="mc_embed_signup" >

          <form action="http://ticketevolution.us1.list-manage.com/subscribe/post?u=e16524d93274f88524edd508e&amp;id=d0fedd627e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="mc-field-group">
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_e16524d93274f88524edd508e_d0fedd627e" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="SUBMIT" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </form>



        </div>
      </div>
      </div>

    <!-- FOOTER Responsive -->

    <div class="row visible-xs text-center">

      <div class="col-xs-6">
        <h4>Products</h4>
        <a href="/products/point-of-sale">Point Of Sale</a><br/>
        <a href="/products/carbon">Carbon</a><br/>
        <a href="/products/distribution">List Your Tickets</a><br/>
        <a href="/products/API">API</a><br/>
        <a href="/products/fraud-protection">Fraud Protection</a><br/>
        <a href="/products/Evopay">Evopay</a><br/>
      </div>

      <div class="col-xs-6">
        <h4>About</h4>
        <a href="/about">Our Company</a><br/>
        <a href="/about/tevo-team">Employees</a><br/>
        <a href="/about/jobs">Jobs</a><br/>
      </div>
</div>
    <div class="row visible-xs text-center">

      <div class="col-xs-6">
        <h4>Support</h4>
        <a href="/contact">Contact</a><br/>
        <a href="/contact-support">Support</a><br/>
        <a href="https://twitter.com/ticketevolution" target="_blank">Twitter</a><br/>
      </div>

      <div class="col-xs-6">
        <h4>Login</h4>
        <a href="http://core.ticketevolution.com/sessions/new" target="_blank">Point of sale</a><br/>
        <a href="http://exchange.ticketevolution.com/users/sign_in" target="_blank">Exchange</a><br/>
      </div>
      <!-- FOOTER RESPONSIVE -->


    </div>

    <div class="social">
      <a href="https://www.facebook.com/TicketEvolution" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
      <a href="https://twitter.com/ticketevolution" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
    </div>

    </div>
  </div>
</footer>

<div class="bottom_footer footer hidden-xs" >
  <div class="container">
    <div class="row text-center" >

      <div class="col-md-4"  style="padding-top: 20px;">
    <p>© Ticket Evolution 2014</p>
        </div>

      <div class="col-md-4 icon" style="padding-top: 20px;">
       <a href="/"> <img src="/images/icon.png" width="50" class="desaturate" /></a>
      </div>

      <div class="col-md-4" style="padding-top: 15px;">
    <address>

      110 w 30<sup>th</sup> st
      Seventh floor<br>
      New York, NY 10001<br>

    </address>
        </div>
      </div>
  </div>
</div>

<div class="bottom_footer footer text-center visible-xs">
  <div class="container">

    <p>© Ticket Evolution 2014</p>

  </div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/javascripts/jquery-1.11.1.min.js"><\/script>')</script>
<script src="/javascripts/jquery.validate.js"></script>
<script src="/javascripts/jquery.fancybox.pack.js"></script>
<script src="/javascripts/jquery.fancybox-media.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/tevo.js"></script>
<script src="/javascripts/classie.js"></script>
<script src="/javascripts/AnimOnScroll.js"></script>
<script src="/javascripts/modernizr.custom.79639.js"></script>
<script>

//  new AnimOnScroll( document.getElementById( 'grid' ), {
//    minDuration : 0.4,
//    maxDuration : 0.7,
//    viewportFactor : 0.2
//  } );
//
//  new AnimOnScroll( document.getElementById( 'grid' ), {
//    minDuration : 0.4,
//    maxDuration : 0.7,
//    viewportFactor : 0.2
//  } );

//  $(document).ready(function () {
//    $('.flipWrapper').click(function () {
//      $(this).find('.card').toggleClass('flipped');
//      return false;
//    });
//  });

  //using TweenLite.set() takes care of all vendor-prefixes
//  TweenLite.set(".cardWrapper", {perspective:800});
//  TweenLite.set(".card", {transformStyle:"preserve-3d"});
//  TweenLite.set(".back", {rotationY:-180});
//  TweenLite.set([".back", ".front"], {backfaceVisibility:"hidden"});
//
//  $(".cardWrapper").hover(
//      function() {
//        TweenLite.to($(this).find(".card"), 1.2, {rotationY:180, ease:Back.easeOut});
//      },
//      function() {
//        TweenLite.to($(this).find(".card"), 1.2, {rotationY:0, ease:Back.easeOut});
//      }
//  );

  //a nice little intro;)
  //	TweenMax.staggerTo($(".card"), 1, {rotationY:-180, repeat:1, yoyo:true}, 0.1);

  $(document).ready(function() {

    jQuery.extend(jQuery.validator.messages, {
      minLength: '',
      required: ''
    });

    var validatorConfig = {

      rules: {
        firstName: {
          minlength: 2,
          required: true
        },
        lastName: {
          minlength: 2,
          required: true
        },
        company: {
          minlength: 2,
          required: true
        },
        email: {
          required: true,
          email: true
        },
        url: {
          minlength: 2,
          required: true
        },
        notes: {
          minlength: 10,
          required: true
        }
      },

      invalidHandler: function(event, validator) {
        // 'this' refers to the form
        var errorCount = validator.numberOfInvalids();
        if (errorCount) {
          var message = "All fields are required.  Please fix the highlighted fields.";
          $('.contact-errors').html(message);
        } else {
          $('.contact-errors').html("");
        }
      }

    };

    $('#contact1').validate(validatorConfig);
    $('#contact2').validate(validatorConfig);
    $('#contact3').validate(validatorConfig);

  });


//  tab link

var hash = document.location.hash;
var prefix = "tab_";
if (hash) {
  $('.nav-tabs a[href='+hash.replace(prefix,"")+']').tab('show');
}

// Change hash for page-reload
$('.nav-pills a').on('shown', function (e) {
  window.location.hash = e.target.hash.replace("#", "#" + prefix);
});



$(function () {
  $('#tab1 a').click(function (e) {
    e.preventDefault();
    $('a[href="' + $(this).attr('href') + '"]').tab('show');
  })
});





</script>

<script type="text/javascript">
  $(document).ready(function () {
    $('.fancybox-media').fancybox({
      openEffect: 'none',
      closeEffect: 'none',
      helpers: {
        media: {}
      }
    });
  });

  $(".fancybox-media")
      .fancybox-media({
        padding : 0
      });

</script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-17583113-1', 'auto');
  ga('send', 'pageview');

</script>

<script>

//  $('.aboutTheTeam > .row > .col-sm-12 > img.1').hover(function(){
//    $(this).parent().toggleClass('hoverTeam');
//  })
//
//
//  $('.aboutTheTeam > .row > .col-sm-12 > img.2').hover(function(){
//    $(this).parent().toggleClass('hoverTeam2');
//  })


// 1. put the urls here
// 2. say data-bg="indexOfImageInThisArray
//var images = [
//    '/images/greg.png' // 0 GREG
////    '/images/manish.png' // 1 MANISH
//
//];
//
//
//
//  $('.ch-info-front').css({ backgroundImage: 'url(' + images + ')' });



//var images = [
//  '/images/greg.png' // 0 GREG
////    '/images/manish.png' // 1 MANISH
//
//];
//
//
//
//$('.ch-info-front').css({ backgroundImage: 'url(' + images + ')' });


var BG_GIFS = [
  '/images/GIFS/wayne.gif', //                                          0 GREG
  'http://media.giphy.com/media/jjR1SPuLzxORq/giphy.gif', //            1 MANISH
  '/images/GIFS/eric.gif', //                                                      2 ERIC
  '/images/GIFS/eric.gif', //            3 KFIR
  '/images/GIFS/joe.gif',//                                             4
  'http://media.giphy.com/media/8vEhb7zhaTsv6/giphy.gif',   //          5
  '/images/GIFS/danielle.gif',  //           6
  '/images/GIFS/rich.gif', //            7
  'http://media.giphy.com/media/bELcSqRghg50s/giphy.gif', //            8
  'http://media.giphy.com/media/bELcSqRghg50s/giphy.gif', //            9
  '/images/GIFS/j.gif', //                                              10 J
  'http://media.giphy.com/media/bELcSqRghg50s/giphy.gif', //            11
  'http://media.giphy.com/media/bELcSqRghg50s/giphy.gif', //            12
  'http://media.giphy.com/media/bELcSqRghg50s/giphy.gif', //            13
  'http://media.giphy.com/media/bELcSqRghg50s/giphy.gif', //            14
  '/images/GIFS/james.gif', //            15
  '/images/GIFS/parinda.gif', //            16
  '/images/GIFS/natalie.gif', //            17
  'http://media.giphy.com/media/bELcSqRghg50s/giphy.gif', //            18
  'http://media.giphy.com/media/bELcSqRghg50s/giphy.gif', //            19
  '/images/GIFS/christian.gif', //                                      20
  '/images/GIFS/wayne.gif', //                                           21
  'http://media.giphy.com/media/bELcSqRghg50s/giphy.gif' //             21

];

// PRELOAD THE GIFS
for (var i = 0; i < BG_GIFS.length; i++) {
  var preloadImage = new Image();
  preloadImage.src = BG_GIFS[i];
}

$('.bioPic').on('mouseover', function() {
  var data = $(this).data();
  var bgUrl = BG_GIFS[data.bg];
  $('.aboutTheTeam').css({ backgroundImage: 'url(' + bgUrl + ')' });
}).on('mouseout', function() {
  $('.aboutTheTeam').css({ backgroundImage: 'none' });
});


</script>


</body>
</html>