<div id="videoSupportPage">
  <!-- HERO -->

  <div id="video-guides" class="features text-center francytitle" data-speed="6" data-type="background">

    <div class="row pside">
      <div class="col-lg-12">
        <h1>Your ticket to TEvo Support </h1>

        <h3 class="lead">From getting started, to submitting your first order <br/> find all the help you need here.</h3>
      </div>
    </div>
  </div>