<div id="videoSupportPage">
  <!-- HERO -->

  <div id="partner-support" class="features text-center francytitle" data-speed="6" data-type="background">

    <div class="row pside">
      <div class="col-lg-12">
        <h1>Partner Success </h1>

        <h3 class="lead">Everything you need to get started with <br/>Ticket Evolution  in one place.</h3>
      </div>
    </div>
  </div>