<% include /partials/header %>
<script>
  $(function () {
    $('#tab1 a').click(function (e) {
      e.preventDefault();
      $('a[href="' + $(this).attr('href') + '"]').tab('show');
    })
  });
</script>

<!-- HERO -->

<div id="about-us" class="features text-center" data-speed="6" data-type="background" >

  <div class="row">
    <div class="col-lg-12">
      <h1 >Ticket Evolution </h1><h3 class="lead">By Brokers, For Brokers</h3>


    </div>
  </div>
</div>



<!-- CONTENT -->

<div class="container padded carbon about">



  <ul class="nav nav-pills nav-stacked col-md-2 hidden-xs" >
    <li class="active"><a href="#company" data-toggle="pill"><i class="fa fa-building"></i> Our Company</a></li>
    <li><a href="#team" data-toggle="pill"><i class="fa fa-users"></i> Our Team</a></li>
    <!--<li><a href="#team" data-toggle="pill"><i class="fa fa-users"></i> Our Investors</a></li>-->
    <li><a href="#career" data-toggle="pill"><i class="fa fa-ticket"></i> Jobs</a></li>
    <!--<li><a href="#" data-toggle="pill"><i class="fa fa-puzzle-piece"></i> Partners</a></li>-->
    <!--<li><a href="#" data-toggle="pill"><i class="fa fa-puzzle-piece"></i> Media</a></li>-->
  </ul>


  <ul class="nav nav-pills nav-stacked nav-justified col-md-2 visible-xs" style="margin-bottom: 50px; padding: 25px;  margin-top: -100px;" >
    <li class="active"><a href="#company" data-toggle="pill"><i class="fa fa-building"></i> Our Company</a></li>
    <li><a href="#team" data-toggle="pill"><i class="fa fa-users"></i> Our Team</a></li>
    <li><a href="#career" data-toggle="pill"><i class="fa fa-ticket"></i> Jobs</a></li>


  </ul>


  <!-- tab content -->
    <div class="tab-content col-md-10" style="border-left: 1px solid #e2e2e2; padding-left:40px;">

      <div class="tab-pane active" id="company">
        <p class="lead"><strong>What is Ticket Evolution?</strong></p>
        <p>Ticket Evolution was started in 2010 by 3 long time ticket resellers Ram Silverman, Steve Parry and Drew Gainor. In search of better technology than was available to them, they thought who better than they to build it. It turned out that over 120 of the largest ticket resellers agreed. With capital investments from that group and a mission to create better software and more sales channels, Ticket Evolution was started. Since its founding, TEvo as we call ourselves now has over 500 professional ticket resellers using our products. We are fortunate to count some of the most well known companies in the world as our distribution partners.</p>
        <hr/>
        <p class="lead"><strong>What makes Ticket Evolution unique?</strong></p>
        <p>We were founded by ticket resellers for ticket resellers. Our mission to build better products at reasonable costs to our customers never waivers. Its easy not to waiver when your customers are your founders and investors. We believe event tickets should be easy to find for consumers. We don’t sell tickets directly to consumers. You won’t find a single ticket to buy on this site. Our software makes it easy for brands from all sectors including travel, dating, finance, media and more to offer our reseller’s tickets to their consumers. Why make someone search for tickets when they can be shown on the websites and mobile apps consumers are already using?</p>
        <a href="#career" data-toggle="tab">link</a>

      </div>
      <!-- tab content -->







      <!-- tab content -->







<style>

  .fa{
    padding: 0 5px;
  }
</style>
      <!-- START TEAM -->

          <div class="tab-pane" id="team">

            <h2 class="text-center mb40">The Ticket Evolution Team</h2>



            <!--ROW ONE-->
            <div class="row padded2 text-center">

              <div class="col-md-3 col-md-offset-1 col-xs-4">

                <img class="img-responsive" src="/images/greg.png" alt="Greg - CEO"/>

                <p class="text-center"><strong>Greg Doran</strong><br/>
                  <span class="small">CEO</span></p>

                <div class="">
                  <a href="https://twitter.com/gjdoran" target="_blank"> <i class="fa fa-twitter fa-lg"> </i></a>
                  <a href="https://www.linkedin.com/pub/greg-doran/4/589/520" target="_blank"><i
                        class="fa fa-linkedin fa-lg"></i></a>
                </div>

              </div>


              <div class="col-md-3 col-md-offset-1 col-xs-4">

                <img class="img-responsive" src="/images/drew.png" alt="Drew - VP & Co-Founder"/>

                <p class="text-center"><strong>Drew Gainor</strong><br/>
                  <span class="small">VP & Co-Founder</span></p>

                <div class="">
                  <a href="https://twitter.com/drewgainor" target="_blank"> <i class="fa fa-twitter fa-lg"> </i></a>
                  <a href="http://www.linkedin.com/in/drewagainor/" target="_blank"><i
                        class="fa fa-linkedin fa-lg"></i></a>
                </div>

              </div>

              <div class="col-md-3 col-md-offset-1 col-xs-4">

                <img class="img-responsive" src="/images/kfir.png" alt="kfir-VP, Engineering"/>

                <p class="text-center"><strong>Kfir Shay</strong><br/>
                  <span class="small">VP, Engineering</span></p>

                <div class="">
                  <a href="http://twitter.com/kfir" target="_blank"> <i class="fa fa-twitter fa-lg"> </i></a>
                  <a href="http://www.linkedin.com/in/kfirshay/" target="_blank"><i
                        class="fa fa-linkedin fa-lg"></i></a>
                </div>

              </div>

            </div>

            <!--ROW TWO-->
            <div class="row padded2 text-center">

              <div class="col-md-3 col-md-offset-1 col-xs-4">

                <img class="img-responsive" src="/images/eric.png" alt="Eric - VP, Businiess Development"/>

                <p class="text-center"><strong>Eric Taraby</strong><br/>
                  <span class="small">VP, Business Development</span></p>

                <div class="">
                  <a href="http://twitter.com/etaraby" target="_blank"> <i class="fa fa-twitter fa-lg"> </i></a>
                  <a href="http://www.linkedin.com/pub/eric-taraby/1/44b/619/" target="_blank"><i
                        class="fa fa-linkedin fa-lg"></i></a>
                </div>

              </div>


              <div class="col-md-3 col-md-offset-1 col-xs-4">

                <img class="img-responsive" src="/images/manish.png" alt="Manish, SVP product"/>

                <p class="text-center"><strong>Manish Bardolia</strong><br/>
                  <span class="small">SVP, Product</span></p>

                <div class="">
                  <a href="http://twiiter.com/mbardolia" target="_blank"> <i class="fa fa-twitter fa-lg"> </i></a>
                  <a href="https://www.linkedin.com/in/mbardolia" target="_blank"><i
                        class="fa fa-linkedin fa-lg"></i></a>
                </div>

              </div>

              <div class="col-md-3 col-md-offset-1 col-xs-4">

                <img class="img-responsive" src="/images/danielle.png" alt="Marketing"/>

                <p class="text-center"><strong>Danielle Schechter</strong><br/>
                  <span class="small">Marketing</span></p>

                <div class="">
                  <a href="http://twitter.com/danischechter" target="_blank"> <i class="fa fa-twitter fa-lg"> </i></a>
                  <a href="https://www.linkedin.com/in/danielleschechter" target="_blank"><i
                        class="fa fa-linkedin fa-lg"></i></a>
                </div>

              </div>

            </div>

            <!--ROW THREE-->
            <div class="row padded2 text-center">

              <div class="col-md-3 col-md-offset-1 col-xs-4">

                <img class="img-responsive" src="/images/don.png" alt="Don - Sr. Engineer"/>

                <p class="text-center"><strong>Don Pflaster</strong><br/>
                  <span class="small"> Senior Software Engineer</span></p>

                <div class="">
                  <a href="http://twitter.com/darksheik75" target="_blank"> <i class="fa fa-twitter fa-lg"> </i></a>
                  <a href="http://www.linkedin.com/pub/don-pflaster/2a/b7a/7a4/" target="_blank"><i
                        class="fa fa-linkedin fa-lg"></i></a>
                </div>

              </div>


              <div class="col-md-3 col-md-offset-1 col-xs-4">

                <img class="img-responsive" src="/images/ian.png" alt="Ian - Tech Lead"/>

                <p class="text-center"><strong>Ian Grabill</strong><br/>
                  <span class="small">Tech Lead</span></p>

                <div class="">
                  <a href="http://twitter.com/igrabill" target="_blank"> <i class="fa fa-twitter fa-lg"> </i></a>
                  <a href="https://www.linkedin.com/in/iangrabill" target="_blank"><i
                        class="fa fa-linkedin fa-lg"></i></a>
                </div>

              </div>

              <div class="col-md-3 col-md-offset-1 col-xs-4">

                <img class="img-responsive" src="/images/wendy.png" alt="Wendy - VP, Customer Service"/>

                <p class="text-center"><strong>Wendy Bruno</strong><br/>
                  <span class="small">Marketing</span></p>

                <div class="">
                  <a href="http://twitter.com/dayofabruno" target="_blank"> <i class="fa fa-twitter fa-lg"> </i></a>
                  <a href="https://www.linkedin.com/in//wendybruno" target="_blank"><i
                        class="fa fa-linkedin fa-lg"></i></a>
                </div>

              </div>

            </div>
            <!--ROW FOUR-->
            <div class="row padded2 text-center">

              <div class="col-md-3 col-md-offset-1 col-xs-4">

                <img class="img-responsive" src="/images/brenden2.png" alt="Brendan - Product Manager"/>

                <p class="text-center"><strong>Brendan O'Donoghue</strong><br/>
                  <span class="small"> Product Manager </span></p>

                <div class="">
                  <a href="http://twitter.com/BrendanOD6" target="_blank"> <i class="fa fa-twitter fa-lg"> </i></a>
                  <a href="https://www.linkedin.com/in/brendanodonoghue1" target="_blank"><i
                        class="fa fa-linkedin fa-lg"></i></a>
                </div>

              </div>


              <div class="col-md-3 col-md-offset-1 col-xs-4">

                <img class="img-responsive" src="/images/paul.png" alt="Paul - Senior Front End Engineer"/>

                <p class="text-center"><strong>Paul Pucciarelli</strong><br/>
                  <span class="small">Senior Front End Engineer</span></p>

                <div class="">
                  <a href="https://www.linkedin.com/in/paulpooch" target="_blank"><i
                        class="fa fa-linkedin fa-lg"></i></a>
                </div>

              </div>

              <div class="col-md-3 col-md-offset-1 col-xs-4">

                <img class="img-responsive" src="/images/colin.png" alt="Colin - Content Manager"/>

                <p class="text-center"><strong>Colin Fox</strong><br/>
                  <span class="small">Content Manager</span></p>

                <div class="">
                  <a href="http://twitter.com/foxy1327" target="_blank"> <i class="fa fa-twitter fa-lg"> </i></a>
                  <a href="https://www.linkedin.com/profile/view?id=95345583&trk=nav_responsive_tab_profile" target="_blank"><i
                        class="fa fa-linkedin fa-lg"></i></a>
                </div>

              </div>

            </div>

            <!--ROW FIVE-->
            <div class="row padded2 text-center">

              <div class="col-md-3 col-md-offset-1 col-xs-4">

                <img class="img-responsive" src="/images/j.png" alt="J - VP, Partner Integration"/>

                <p class="text-center"><strong>J Cobb</strong><br/>
                  <span class="small"> VP, Partner Integration </span></p>

                <div class="">
                  <a href="http://www.linkedin.com/pub/j-cobb/37/808/b83/" target="_blank"><i
                        class="fa fa-linkedin fa-lg"></i></a>
                </div>

              </div>


              <div class="col-md-3 col-md-offset-1 col-xs-4">

                <img class="img-responsive" src="/images/neil.png" alt="Neil - Director Of Finance"/>

                <p class="text-center"><strong>Neil Asinger</strong><br/>
                  <span class="small">Director Of finance</span></p>

                <div class="">
                  <a href="https://www.linkedin.com/profile/view?id=17440795&trk=nav_responsive_tab_profile" target="_blank"><i
                        class="fa fa-linkedin fa-lg"></i></a>
                </div>

              </div>

              <div class="col-md-3 col-md-offset-1 col-xs-4">

                <img class="img-responsive" src="/images/rich.png" alt="Rich - Senior Software Engineer"/>

                <p class="text-center"><strong>Richard Soni</strong><br/>
                  <span class="small">Senior Software Engineer</span></p>

                <div class="">
                  <a href="http://twitter.com/richsoni" target="_blank"> <i class="fa fa-twitter fa-lg"> </i></a>
                  <a href="https://www.linkedin.com/pub/richard-soni/33/969/4b1" target="_blank"><i
                        class="fa fa-linkedin fa-lg"></i></a>
                </div>

              </div>

            </div>

            <!--ROW SIX-->
            <div class="row padded2 text-center">

              <div class="col-md-3 col-md-offset-1 col-xs-4">

                <img class="img-responsive" src="/images/wayne.png" alt="Wayne - Software Engineer"/>

                <p class="text-center"><strong>Wayne Liu</strong><br/>
                  <span class="small"> Software Engineer </span></p>

                <div class="">
                  <a href="https://www.linkedin.com/in/wwwayneliu" target="_blank"><i
                        class="fa fa-linkedin fa-lg"></i></a>
                </div>

              </div>


              <div class="col-md-3 col-md-offset-1 col-xs-4">

                <img class="img-responsive" src="/images/matthew.png" alt="Matthew - Customer Support Admin"/>

                <p class="text-center"><strong>Matthew Mefford</strong><br/>
                  <span class="small">Customer Support Admin</span></p>

                <div class="">

                </div>

              </div>

              <div class="col-md-3 col-md-offset-1 col-xs-4">

                <img class="img-responsive" src="/images/will.png" alt="Will - Help Desk"/>

                <p class="text-center"><strong>Will D’Amato</strong><br/>
                  <span class="small">Help Desk</span></p>

                <div class="">

                </div>

              </div>

            </div>

            <!--ROW SEVEN-->
            <div class="row padded2 text-center">

              <div class="col-md-3 col-md-offset-1 col-xs-4">

                <img class="img-responsive" src="/images/cameron.png" alt="Cameron - Customer Service Rep"/>

                <p class="text-center"><strong>Cameron Ploof</strong><br/>
                  <span class="small"> Customer Service Rep </span></p>

                <div class="">
                  <a href="http://www.linkedin.com/pub/cameron-ploof/28/114/a9/" target="_blank"><i
                        class="fa fa-linkedin fa-lg"></i></a>
                </div>

              </div>


              <div class="col-md-3 col-md-offset-1 col-xs-4">

                <img class="img-responsive" src="/images/gray.png" alt="Parinda - Engineer" />

                <p class="text-center"><strong>Parinda Darden</strong><br/>
                  <span class="small">Engineer</span></p>

                <div class="">

                </div>

              </div>

              <div class="col-md-3 col-md-offset-1 col-xs-4">

                <img class="img-responsive" src="/images/gray.png" alt="Daniel - Accounting"/>

                <p class="text-center"><strong>Daniel Weisbaum</strong><br/>
                  <span class="small">Accounting</span></p>

                <div class="">

                </div>

              </div>

            </div>

            <!--ROW EIGHT-->
            <div class="row padded2 text-center">

              <div class="col-md-3 col-md-offset-1 col-xs-4">

                <img class="img-responsive" src="/images/gray.png" alt="Joe - Partner Success Manager"/>

                <p class="text-center"><strong>Joe Fronhoefer</strong><br/>
                  <span class="small"> Partner Success Manager </span></p>

                <div class="">
                  <a href="http://www.linkedin.com/pub/cameron-ploof/28/114/a9/" target="_blank"><i
                        class="fa fa-linkedin fa-lg"></i></a>
                </div>

              </div>


              <div class="col-md-3 col-md-offset-1 col-xs-4">

                <img class="img-responsive" src="/images/gray.png" alt="James - Content Manager"/>

                <p class="text-center"><strong>James Guardino</strong><br/>
                  <span class="small">Content Manager</span></p>

                <div class="">

                </div>

              </div>

              <!--<div class="col-md-3 col-md-offset-1 col-xs-4">-->

                <!--<img class="img-responsive" src="/images/gray.png"/>-->

                <!--<p class="text-center"><strong>Daniel Weisbaum</strong><br/>-->
                  <!--<span class="small">Accounting</span></p>-->

                <!--<div class="">-->

                <!--</div>-->

              <!--</div>-->

            </div>


          </div>


      <!-- tab content -->
      <div class="tab-pane career" id="career">
       <p class="lead"><strong>We're Hiring!</strong></p>


        <p class="mb40">Ticket Evolution is always looking for talented and dedicated people to join our team. We're a startup, we work hard but we love what we do. If this sounds like you then apply below.</p>

        <div class="divider2 mb40"></div>

        <p class="lead mb40">What's it like working at Ticket Evolution?</p>

        <p class="mb40">We constantly evaluate new technologies and encourage engineers to use the best tool for the job.  Our tech stack is constantly evolving but currently includes:</p>

        <div class="mb20">
        <div class="row tech">
        <div class="col-md-2">
        <ul class="fa-ul">
          <li> <i class="fa-li fa fa-heart-o "></i> CoffeeScript</li>
          <li><i class="fa-li fa fa-heart-o "></i> Backbone</li>
        </ul>
        </div>
        <div class="col-md-2">
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-heart-o "></i> React</li>
          <li><i class="fa-li fa fa-heart-o "></i> Node</li>
        </ul>
        </div>
        <div class="col-md-2">
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-heart-o "></i> Rails</li>
          <li><i class="fa-li fa fa-heart-o "></i> PostgreSQL</li>
        </ul>
        </div>
        <div class="col-md-2">
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-heart-o "></i> Memcached</li>
          <li><i class="fa-li fa fa-heart-o "></i> Redis</li>
        </ul>
        </div>
        <div class="col-md-2">
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-heart-o "></i> Chef</li>
          <li><i class="fa-li fa fa-heart-o "></i> Github</li>
        </ul>
        </div>
        </div>
        </div>

        <p>Additionally, you have the liberty to setup your own workspace, full medical, dental and vision, paid vacation time and casual attire.</p>




        <p class="lead">Open Positions:</p>



       <!--Accordion-->

        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  QA Lead
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  TEvo’s Quality Assurance Lead will be responsible for driving the overall vision of product excellence.  </p>
                  <p>
                  Day to day the role is responsible for the overall quality of the tools & products Ticket Evolution provides to it’s brokers and partners.


                </p>



                <p><a href="/jobs/sr-engineer">More info & application <i class="fa fa-long-arrow-right"></i></a></p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                 FrontEnd Engineer
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  TEvo’s Quality Assurance Lead will be responsible for driving the overall vision of product excellence.  </p>
                <p>
                  Day to day the role is responsible for the overall quality of the tools & products Ticket Evolution provides to it’s brokers and partners.


                </p>



                <p><a href="/jobs/sr-engineer">More info & application <i class="fa fa-long-arrow-right"></i></a></p>

              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  Senior Engineer
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  TEvo’s Quality Assurance Lead will be responsible for driving the overall vision of product excellence.  </p>
                <p>
                  Day to day the role is responsible for the overall quality of the tools & products Ticket Evolution provides to it’s brokers and partners.


                </p>



                <p><a href="/jobs/sr-engineer">More info & application <i class="fa fa-long-arrow-right"></i></a></p>

              </div>
            </div>
          </div>
        </div>


      </div>
      <!--/Accordion-->








      <!-- tab content -->




      <!-- tab content -->
      <div class="tab-pane" id="career">
        Hola
      </div>
      <!-- tab content -->




      <!-- tab content -->
      <div class="tab-pane" id="career">
        Hola
      </div>
      <!-- tab content -->







    </div>





  <!-- tab content -->

</div>

<!-- AUTOMATION BAR -->

<div class="gray shade3" >
  <div class="container subs">



      <div class="row spacer text-center mb20 mt20">

        <div class="col-xs-6 col-sm-1">
          <img src="/images/orbitz.png" alt="Orbitz" width="80px;">
        </div>

        <div class="col-xs-6 col-sm-1">
          <img src="/images/cheaptix.png" alt="Cheap Tickets" width="80px" >
        </div>

        <div class="col-xs-6 col-sm-1">
          <img src="/images/applauze.png" alt="Applauze" width="80px">
        </div>

        <div class="col-xs-6 col-sm-1">
          <img src="/images/haw.png" alt="How About We" width="80px" >
        </div>



          <div class="col-xs-6 col-sm-1">
            <img src="/images/bookit.png" alt="BookIt" width="80px" >
          </div>

          <div class="col-xs-6 col-sm-1">
            <img src="/images/ga.png" alt="General Assembly" width="80px;">
          </div>

          <div class="col-xs-6 col-sm-1">
            <img src="/images/endorfyn.png" alt="Endorfyn" width="80px;">
          </div>

          <div class="col-xs-6 col-sm-1">
            <img src="/images/acehopper.png" alt="Acehopper" width="80px;">
          </div>


          <div class="col-xs-6 col-sm-1">
            <img src="/images/tiqiq.png" alt="TiqIQ" width="80px;">
          </div>

          <div class="col-xs-6 col-sm-1">
            <img src="/images/scalpr.png" alt="Ticket Scalpr" width="80px;">
          </div>

          <div class="col-xs-6 col-sm-1">
            <img src="/images/lisnr.png" alt="Lisnr" width="80px;">
          </div>

          <div class="col-xs-6 col-sm-1">
            <img src="/images/tixers.png" alt="Tixers" width="80px;">
          </div>

        </div>


    </div>

  </div>


</div>







<% include /partials/footer %>
