<% include /partials/header %>


<!-- HERO -->

<div id="product" class=" text-center francytitle" data-speed="6" data-type="background" >

  <div class="row">
    <div class="col-lg-12">
      <h1 >API </h1><h3 class="lead">The only ticket feed you need. </h3>


    </div>
  </div>
</div>


<!-- CONTENT -->

<div class="container padded carbon pside">
  <div class="row">
    <div class="col-xs-12 text-center mb40">


      <h2>Looking for a ticket feed to sell tickets on your web site?</h2>
      <p>
        Ticket Evolution has aggregated inventory from over 700 professional ticket sellers to create the ultimate customer experience for your customers.</p>


    </div>
  </div>




  <hr/>


  <div class="row">
    <div class="col-md-8 col-xs-12">
      <p class="lead"> <strong>Instant Delivery - The ultimate customer experience</strong></p>
      <p>Place orders directly with sellers and receive confirmation and etickets within seconds.</p>

      <p class="lead"> <strong>Simple to integrate</strong></p>
      <p>Our RESTful API is simple to integrate with and allows you to put your business on full auto.</p>

        <p>It is extremely flexible and fast and responds with JSON allowing you to integrate with our services using any programming language you wish — we even have open source libraries for PHP and Ruby to help you get up and running as quickly as possible.</p>

      <p class="lead"> <strong>Why Choose Ticket Evolution?</strong></p>
      <p>We provide the most flexible and robust API to create your own unique ticket experience on your site while allowing you to maintain your brand. We have the lowest ticket prices available over any other secondary ticket feed. We have inventory from the largest professional sellers in the world. Many of these sellers inventory is not even available in our competitors feeds. Our continually growing catalog includes over 50K upcoming events, over 35K performers and over 11K venues.</p>

    </div>
    <div class="col-md-4 col-xs-12">
      <img class="img-responsive languages" style="margin:0 auto;" alt="Supported Languages" src="/images/languages.png">
    </div>
  </div>








</div>









<!-- AUTOMATION BAR -->

<div class="gray" style="background: #42a498;">
  <div class="container subs">
    <div class="row">


      <div class="col-md-6 hidden-xs text-center">
        <h3 style="margin-top: 25px;">Ready to get started?</h3>
      </div>
      <div class="col-md-6 text-center cta" style="background:none;">
        <p style="margin:0;"><a id="get_info" class="btn btn-huge btn-default" style="margin-top:0" href="/contact" role="button">Get the documentation <i class="fa fa-angle-double-right"></i></a></p>

      </div>



    </div>

  </div>


</div>


<% include /partials/footer %>
<script>
  $('#productmenu').addClass('active');
</script>
