<% include /partials/header %>


<!-- HERO -->

<div id="product" class="text-center francytitle" data-speed="6" data-type="background" >

    <div class="row">
      <div class="col-lg-12">
        <h1 >CARBON </h1><h3 class="lead">Your own retail ticket store in minutes.</h3>


      </div>
    </div>
  </div>




<!-- CONTENT -->
<div class="pside">
<div class="container padded">
  <div class="row">
    <div class="col-lg-12 text-center">

    <h2 class="mb20">Ditch The Developer.</h2>

    <p>
      With Carbon, you can create your very own customized ticketing store in minutes. With our easy-to-use content management system, you can quickly change themes, images and colors to match your company's existing brand.
      Additionally, Carbon is built on top of our API, which gives you access to all of our features that come with it such as Instant Delivery.
    </p>
      </div>
    </div>

  </div>
</div>


<div class="container-fw carbon " style="background: #555;">
  <div class="">

    <div class="row pt60 shade1">
      <div class="container">
      <div class="col-md-6 col-md-push-6 ">
        <h3 class="mb20">
          <span style="color: #555;">
          Responsive Design
            </span>
        </h3>

        <p>
          No need to have a separate mobile version of your site. We have done that for
          you. Carbon is fully responsive and designed to work across all display sizes.
        </p>
      </div>
      <div class="col-md-6 col-md-pull-6 ">
        <img class="img-responsive" alt="responsive" src="/images/responsive.png">
      </div>
      </div>
  </div>

    <div class="row pt60 shade2">
      <div class="container">
        <div class="col-md-6 pl40">
          <h3 class="mb20">
          <span style="color: #fff;">
          Customizable
            </span>
          </h3>

          <p style="color: #fff">
            Select your own theme, logo, hero image and more in order to create your own unique ticketing experience.
          </p>
        </div>
        <div class="col-md-6">
          <img class="img-responsive" alt="customization" src="/images/custom.png">
        </div>
      </div>
    </div>

    <!--<div class="row automation alternate pt60">-->
      <!--<div class="container">-->
      <!--<div class="col-md-6 container pl40">-->
        <!--<h3 class="mb20">-->
          <!--<span style="color: #555;">-->
          <!--Customizable-->
            <!--</span>-->
        <!--</h3>-->

        <!--<p>-->
          <!--Select your own theme, logo, hero image and more in order to create your own unique ticketing experience.-->
        <!--</p>-->
      <!--</div>-->
      <!--<div class="col-md-6">-->
        <!--<img class="img-responsive" src="/images/custom.png">-->
      <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <div class="row pt60 shade3">
      <div class="container">
      <div class="col-md-6 col-md-push-6">
        <h3 class="mb20">
          <span>
          SEO & Analytics Ready
            </span>
        </h3>

        <p>
          Our built in Content Management System (CMS) makes adding unique content and all other important SEO variables a snap! Easily add Google Analytics to track users and collect data.
        </p>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <img class="img-responsive" alt="SEO & Analytics Ready"  src="/images/analytics.png">
      </div>
      </div>
    </div>


</div>



</div>



<!-- AUTOMATION BAR -->

<div class="gray mb40" style="background: #42a498;">
  <div class="container subs">
    <div class="row">


      <div class="col-md-6 hidden-xs text-center">
        <h3 style="margin-top: 25px;">Go ahead... See how easy it is.</h3>
      </div>
      <div class="col-md-6 text-center cta" style="background:none;">
        <p style="margin:0;"><a id="get_info" class="btn btn-huge btn-default" style="margin-top:0" href="/contact" role="button">Signup for Carbon today <i class="fa fa-angle-double-right"></i></a></p>

      </div>



    </div>

  </div>


</div>



  <!-- FEATURES -->
<div class="pside mb40 featureset">
  <div id="features" class="padded">
    <div class="container">

      <!--<h2>-->
        <!--<span style="color:#42a498;"> Carbon is...</span></h2>-->

      <div class="row spacer text-center">
        <div class="col-xs-6 col-sm-4">

          <img src="/images/search.png" alt="search" width="70px;">

          <h3>Easily Search Events</h3>

          <p>Users can search events by performer (artist, team, etc…), category, venue or event name.</p>
        </div>

        <div class="col-xs-6 col-sm-4">

          <img src="/images/fraud.png" alt="Fraud Protection" width="70px;">

          <h3>Fraud Protection</h3>

          <p>Access to the world's most advanced, real time, online fraud prevention suite, Kount.</p>

        </div>


        <div class="col-xs-6 col-sm-4 hidden-xs">
          <div class="text-center">

            <img src="/images/checkout.png" alt="Checkout Components" width="70px;">

            <h3>Checkout Components</h3>

            <p>Manage Promo codes, Tokenize Credit Cards, manage customers, shipments and more.</p>

          </div>
        </div>
      </div>


      <div class="row spacer text-center" style="padding-top:80px;">
        <div class="col-xs-6 col-sm-4">
          <div class="text-center">
            <img src="/images/integration.png" alt="Self-Help Portal" width="70px;">

            <h3>Self-help Portal</h3>
          </div>
          <p>Customers can download eTickets, view real time order updates, order history, manage repeat checkout
            options and much more.</p>

        </div>
        <div class="col-xs-6 col-sm-4">
          <div class="text-center">
            <img src="/images/seo.png" alt="SEO" width="70px;">

            <h3>SEO</h3>
          </div>
          <p>Our built in Content Management System (CMS) makes adding unique content and all other important SEO variables easy.

          </p></div>
        <div class="col-xs-6 col-sm-4 hidden-xs">
          <div class="text-center">
            <img src="/images/geotargeting.png" alt="Geotargeting" width="70px;">

            <h3>Geotargeting </h3>
          </div>
          <p>Our API makes it a snap to show the most relevant events, performers & venues based on a customers IP
            address or customized search.</p>

        </div>
      </div>


      <!-- restacking -->
      <div class="row spacer visible-xs" style="padding-top:80px;">

        <div class="col-xs-6 visible-xs-inline-block text-center">
          <div class="text-center">

            <img src="/images/checkout.png" alt="Checkout Components" width="70px;">

            <h3>Checkout Components</h3>

            <p>Manage Promo codes, Tokenize Credit Cards, manage customers, shipments and more.</p>

          </div>

        </div>
        <div class="col-xs-6 visible-xs-inline-block text-center">
          <div class="text-center">
            <img src="/images/geotargeting.png" alt="Geotargeting" width="70px;">

            <h3>Geotargeting </h3>
          </div>
          <p>Our API makes it a snap to show the most relevant events, performers & venues based on a customers IP
            address or customized search.</p>

        </div>
      </div>
      <!-- /restacking -->


    </div>
  </div>
  </div>











<!-- CTA -->


  <!--<div class="container-fw cta padded">-->
    <!--<div class="row">-->
      <!--<div class="col-md-12 text-center">-->
        <!--<h1>Ready to get started? </h1>-->



        <!--<p><a id="get_info" class="btn btn-huge btn-default floating" href="#" role="button">Sign Up Now <i-->
                <!--class="fa fa-angle-double-right"></i></a></p>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->



<% include /partials/footer %>