<% include /partials/header %>

<% include /partials/header-support %>



<div class="pside">
  <div class="container padded">
    <h3>CLIENTS</h3>

    <ol class="breadcrumb">
      <li><a href="#">Support</a></li>
      <li><a href="/support/video-guides">Video-Guides</a></li>
      <li class="active">Clients</li>
    </ol>

    <!--ROW-->
    <div class="row">

      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106865345">

          <div class="module">

            <h4 class="mt20">
              View and Edit a Client</h4>

            <p>See how you can look up and edit a Client. </p>

            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>
          </div>
        </a>
      </div>


      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106871037">

          <div class="module">

            <h4 class="mt20">View Client's Orders and PO's</h4>

            <p>See how you can view a specific Client’s Orders and Purchase Orders in the system.
            </p>
            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>

          </div>
        </a>
      </div>


      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106921002">

          <div class="module">

            <h4 class="mt20">
              Add a New Client</h4>

            <p>See how you can add a new Client.</p>
            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>
          </div>
        </a>
      </div>





    </div>

    <!--END ROW-->


  </div>
</div>


</div><!-- CONTENT -->

<% include /partials/footer %>
