<% include /partials/header %>
<script>
  $('#pricingmenu').addClass('active');
</script>

<div class="container-fw"></div>
<div class="padded">
<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <h2>Evopay Singup Form</h2>
      <p>Please complete the following form in order to sign up for EvoPay or update your current bank information. </p>

    </div>
  </div>


</div>


<!-- CORE PRICING -->

<div class="container">
  <div class="row">
    <div class="col-md-12 pricepage">

      <div style="display:block;margin:0;padding:0;border:0;outline:0;font-size:10px!important;color:#AAA!important;vertical-align:baseline;background:transparent;width:706px;"><iframe frameborder="0" height="500" scrolling="no" src="https://rightsignature.com/forms/EvoPay-Authorizat-91700f/embedded/cf629dd6fb4?height=500" width="706"></iframe><div style="font-family: 'Lucida Grande', Helvetica, Arial, Verdana, sans-serif;line-height:13px !important;text-align:center;margin-top: 6px !important;"><a href="https://rightsignature.com" target="_blank" style="color:#AAA;text-decoration:none;">e-Signature</a> by RightSignature &copy; &nbsp;&bull;&nbsp; <a href="https://rightsignature.com/terms" target="_blank" style="color:#888;">Terms of Service</a> &nbsp;&bull;&nbsp; <a href="https://rightsignature.com/privacy" target="_blank" style="color:#888;">Privacy Policy</a></div></div>

  </div>

</div>


</div>
</div>


<% include /partials/footer %>

