<% include /partials/header %>




<!-- HERO -->

<div id="product" class="text-center francytitle" data-speed="6" data-type="background" >

  <div class="row">
    <div class="col-lg-12">
      <h1 >EvoPay </h1><h3 class="lead">Save 2-6% plus merchant fees </h3>


    </div>
  </div>
</div>

<!-- CONTENT -->

<div class="container padded carbon pside">
  <div class="row">
    <div class="col-xs-12 text-center">

      <h2>Save money with EvoPay</h2>
      <p>Save 2-6% plus merchant fees when receiving payments from other ticket sellers via EvoPay instead of credit card. With EvoPay the funds you receive are instantly available to you for purchasing tickets from other sellers. No more delays waiting for checks to clear, credit card deposits to hit your bank account and eliminate overnight shipping fees when a seller requires immediate payment.
      </p>

    </div>
  </div>




  <hr/>


  <div class="row">
    <div class="col-md-6 col-xs-12">
      <p class="lead"> <strong>Why is EvoPay safer than Credit Cards and Checks?</strong></p>
      <p>With EvoPay all your information stays private. No longer do you have to worry about your checks, credit card numbers, addresses, security codes and expiration dates being stored and shared.</p>
</div>
    <div class="col-md-6 col-xs-12">
      <p class="lead"><strong>Use EvoPay and keep all of your personal info… personal.</strong></p>
      <p>Thats right! EvoPay was created simply to save ticket resellers real money, while creating a secure and real time platform to transact.</p>
    </div>
  </div>


  <!-- Demo -->
  <div class="container">
    <div class="col-md-12 text-center pricepage">

      <h2 class="decorated"><span>Demo</span></h2>
    </div>



    <div class="row  text-center" style="margin-top: 30px;">
      <div class="col-md-12">

        <iframe src="//player.vimeo.com/video/98655226" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


      </div>

    </div>

  </div>

  <!-- /Demo -->






</div>









<!-- AUTOMATION BAR -->

<div class="gray" style="background: #42a498;">
  <div class="container subs">
    <div class="row">


      <div class="col-md-6 hidden-xs text-center">
        <h3 style="margin-top: 25px;">Stop throwing away your money.</h3>
      </div>
      <div class="col-md-6 text-center cta" style="background:none;">
        <p style="margin:0;"><a id="get_info" class="btn btn-huge btn-default" style="margin-top:0" href="/contact" role="button">Start using EvoPay today. <i class="fa fa-angle-double-right"></i></a></p>

      </div>



    </div>

  </div>


</div>



<% include /partials/footer %>
<script>
  $('#productmenu').addClass('active');
</script>
