<% include /partials/header %>


<!-- HERO -->

<div id="product" class="text-center francytitle" data-speed="6" data-type="background" >

<div class="row">
<div class="col-lg-12">
<h1 >KOUNT FRAUD PROTECTION </h1><h3 class="lead">Keep more money in your pocket. </h3>


</div>
</div>
</div>


<!-- CONTENT -->

<div class="padded pside">
<div class="container">
  <div class="row">
    <div class="col-md-8 col-xs-12">

      <h2>Tired of losing thousands of dollars a month to fraud?</h2>
      <p class="lead">Kount is a leading innovator of e-commerce solutions designed to “Boost Sales and Beat Fraud” for businesses working in card-not-present environments.</p>
      <p>Their all-in-one, SaaS platform helps online merchants approve more orders, uncover new revenue streams, simplify fraud detection and dramatically improve bottom line profitability. Kount’s proprietary technology has reviewed hundreds of millions of transactions and provides maximum protection for some of the world’s best-known brands. Most importantly, Kount’s turnkey solution is both easy to implement and easy to use. With minimal time and no disruption, your business will accept more orders from more people in more places than ever before. </p>

      <p><strong>Key Benefits</strong></p>
      <p>

        The Kount platform was developed to help merchants reduce risk and the costs associated with fraud while maximizing sales opportunities. With Kount, merchants can sell more products to more people in more places with confidence. Make every transaction Kount™.</p>

    <ul class="mb40">
      <li>Increase sales opportunities</li>
      <li>  Dramatically reduce fraudulent transactions</li>
      <li>Reduce chargebacks</li>
      <li>Reduce the need for costly manual review</li>
      <li>Protect merchants and consumers</li>
      <li>Drastically decrease the risk of losing tickets due to manual fraud review</li>
    </ul>

      <p><strong>Kount & Ticket Evolution</strong></p>
      <p>Joining forces to protect the secondary ticket industry from fraud.</p>
      <p>Kount has been deeply integrated into the entire Ticket Evolution Platform. That means that you can seamlessly utilize Kount on all of your orders whether they originate from your web site, mobile app, Core (Ticket Evolution Point of Sale), Carbon (Instant Online Store) or anywhere else you decide to use the Ticket Evolution API.</p>
      <p>Using Kount, you will be able to instantly approve over 80% of your orders for auto-purchase, drastically reducing the risk of losing your customers tickets.</p>

    </div>


  <div class="col-md-4 hidden-xs ">


    <div class="row pricingcenter addons2" style="margin-top: 25px;">


        <p><strong>EXCLUSIVE PRICING</strong></p>
        <p> Ticket Evolution offers exclusive pricing only available to our ticket resellers.<br/>
          Please email questions to:
<br/>
          PRODUCTS
          @ticketevolution.com </p>


    </div>
  </div>
  </div>

</div>

  <!-- Demo -->
  <div class="container">
  <div class="col-md-12 text-center pricepage">

    <h2 class="decorated"><span>Demo</span></h2>
  </div>



  <div class="row  text-center" style="margin-top: 30px;">
    <div class="col-md-12">

      <iframe src="//player.vimeo.com/video/88928723" width="500" height="313" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


    </div>

  </div>

</div>

  <!-- /Demo -->



</div> <!-- /padded -->



<% include /partials/footer %>
<script>
  $('#productmenu').addClass('active');
</script>
