<% include /partials/header %>

<!-- HERO -->

<div id="about-us" class="features text-center francytitle" data-speed="6" data-type="background">

  <div class="row">
    <div class="col-lg-12">
      <h1>Ticket Evolution </h1>

      <h3 class="lead">Help Us Build Something Amazing</h3>


    </div>
  </div>
</div>


<!-- CONTENT -->

<div class="container padded carbon about">


  <div class="about-list col-md-2" style="text-align: right">

    <ul class="mb20">
      <li><a href="/about">Our Company</a></li>
      <li><a href="/about/tevo-team">TEvo Team</a></li>
      <li class="current"><a href="/about/jobs">Jobs</a></li>
    </ul>
  </div>


  <!-- content -->
  <div class="tab-content col-md-10" style="border-left: 1px solid #e2e2e2; padding-left:40px;">


    <p class="lead"><strong>We're Hiring!</strong></p>


    <p class="mb40">Ticket Evolution is always looking for talented and dedicated people to join our team. We're currently looking for Front End Engineers, Back End Engineers and Product Support Specialists. </p>
   <p>If interested, please send your resume as well as why you think you'd be a good fit for the position to <a href="mailto:jobs@ticletevolution.com"> jobs@ticketevolution.com.</a></p>
    <!--<div class="divider2 mb40"></div>-->

    <!--<p class="lead mb40">What's it like working at Ticket Evolution?</p>-->

    <!--<p class="mb40">We constantly evaluate new technologies and encourage engineers to use the best tool for the job.-->
      <!--Our tech stack is constantly evolving but currently includes:</p>-->

    <!--<div class="mb20">-->
      <!--<div class="row tech">-->
        <!--<div class="col-md-2">-->
          <!--<ul class="fa-ul">-->
            <!--<li><i class="fa-li fa fa-heart-o "></i> CoffeeScript</li>-->
            <!--<li><i class="fa-li fa fa-heart-o "></i> Backbone</li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--<div class="col-md-2">-->
          <!--<ul class="fa-ul">-->
            <!--<li><i class="fa-li fa fa-heart-o "></i> React</li>-->
            <!--<li><i class="fa-li fa fa-heart-o "></i> Node</li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--<div class="col-md-2">-->
          <!--<ul class="fa-ul">-->
            <!--<li><i class="fa-li fa fa-heart-o "></i> Rails</li>-->
            <!--<li><i class="fa-li fa fa-heart-o "></i> PostgreSQL</li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--<div class="col-md-2">-->
          <!--<ul class="fa-ul">-->
            <!--<li><i class="fa-li fa fa-heart-o "></i> Memcached</li>-->
            <!--<li><i class="fa-li fa fa-heart-o "></i> Redis</li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--<div class="col-md-2">-->
          <!--<ul class="fa-ul">-->
            <!--<li><i class="fa-li fa fa-heart-o "></i> Chef</li>-->
            <!--<li><i class="fa-li fa fa-heart-o "></i> Github</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<p>Additionally, you have the liberty to setup your own workspace, full medical, dental and vision, paid vacation-->
      <!--time and casual attire.</p>-->


    <!--<p class="lead">Open Positions:</p>-->


    <!--&lt;!&ndash;Accordion&ndash;&gt;-->

    <!--<div class="panel-group" id="accordion">-->
      <!--<div class="panel panel-default">-->
        <!--<div class="panel-heading">-->
          <!--<h4 class="panel-title">-->
            <!--<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">-->
              <!--QA Lead-->
            <!--</a>-->
          <!--</h4>-->
        <!--</div>-->
        <!--<div id="collapseOne" class="panel-collapse collapse">-->
          <!--<div class="panel-body">-->
            <!--<p>-->
              <!--TEvo’s Quality Assurance Lead will be responsible for driving the overall vision of product-->
              <!--excellence. </p>-->

            <!--<p>-->
              <!--Day to day the role is responsible for the overall quality of the tools & products Ticket Evolution-->
              <!--provides to it’s brokers and partners.-->


            <!--</p>-->


            <!--<p><a href="/about/jobs/sr-engineer">More info & application <i class="fa fa-long-arrow-right"></i></a></p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="panel panel-default">-->
        <!--<div class="panel-heading">-->
          <!--<h4 class="panel-title">-->
            <!--<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">-->
              <!--FrontEnd Engineer-->
            <!--</a>-->
          <!--</h4>-->
        <!--</div>-->
        <!--<div id="collapseTwo" class="panel-collapse collapse">-->
          <!--<div class="panel-body">-->
            <!--<p>-->
              <!--TEvo’s Quality Assurance Lead will be responsible for driving the overall vision of product-->
              <!--excellence. </p>-->

            <!--<p>-->
              <!--Day to day the role is responsible for the overall quality of the tools & products Ticket Evolution-->
              <!--provides to it’s brokers and partners.-->


            <!--</p>-->


            <!--<p><a href="/jobs/sr-engineer">More info & application <i class="fa fa-long-arrow-right"></i></a></p>-->

          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="panel panel-default">-->
        <!--<div class="panel-heading">-->
          <!--<h4 class="panel-title">-->
            <!--<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">-->
              <!--Senior Engineer-->
            <!--</a>-->
          <!--</h4>-->
        <!--</div>-->
        <!--<div id="collapseThree" class="panel-collapse collapse">-->
          <!--<div class="panel-body">-->
            <!--<p>-->
              <!--TEvo’s Quality Assurance Lead will be responsible for driving the overall vision of product-->
              <!--excellence. </p>-->

            <!--<p>-->
              <!--Day to day the role is responsible for the overall quality of the tools & products Ticket Evolution-->
              <!--provides to it’s brokers and partners.-->


            <!--</p>-->


            <!--<p><a href="/jobs/sr-engineer">More info & application <i class="fa fa-long-arrow-right"></i></a></p>-->

          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->


    <!--&lt;!&ndash;/Accordion&ndash;&gt;-->


  </div>


  <!-- tab content -->

</div>

<!-- AUTOMATION BAR -->

<div class="gray shade3">
  <div class="container subs">


    <div class="row spacer text-center mb20 mt20">

      <div class="col-xs-6 col-sm-1">
        <img src="/images/orbitz.png" width="80px;">
      </div>

      <div class="col-xs-6 col-sm-1">
        <img src="/images/cheaptix.png" width="80px">
      </div>

      <div class="col-xs-6 col-sm-1">
        <img src="/images/applauze.png" width="80px">
      </div>

      <div class="col-xs-6 col-sm-1">
        <img src="/images/haw.png" width="80px">
      </div>


      <div class="col-xs-6 col-sm-1">
        <img src="/images/bookit.png" width="80px">
      </div>

      <div class="col-xs-6 col-sm-1">
        <img src="/images/ga.png" width="80px;">
      </div>

      <div class="col-xs-6 col-sm-1">
        <img src="/images/endorfyn.png" width="80px;">
      </div>

      <div class="col-xs-6 col-sm-1">
        <img src="/images/acehopper.png" width="80px;">
      </div>


      <div class="col-xs-6 col-sm-1">
        <img src="/images/tiqiq.png" width="80px;">
      </div>

      <div class="col-xs-6 col-sm-1">
        <img src="/images/scalpr.png" width="80px;">
      </div>

      <div class="col-xs-6 col-sm-1">
        <img src="/images/lisnr.png" width="80px;">
      </div>

      <div class="col-xs-6 col-sm-1">
        <img src="/images/tixers.png" width="80px;">
      </div>

    </div>


  </div>

</div>





<% include /partials/footer %>
