<% include /partials/header %>

<% include /partials/header-support %>



<div class="pside">
  <div class="container padded">
    <h3>MANAGE INVENTORY</h3>

    <ol class="breadcrumb">
      <li><a href="#">Support</a></li>
      <li><a href="/support/video-guides">Video-Guides</a></li>
      <li class="active">Manage Inventory</li>
    </ol>

    <!--ROW-->
    <div class="row">
      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/104584335">

          <div class="module">

            <h4 class="mt20">Upload ETickets on Ticket Group</h4>

            <p>See how you can upload ETickets on a Ticket Group that you have in your inventory.</p>

            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>
          </div>
        </a>
      </div>

      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106494664">

          <div class="module">

            <h4 class="mt20">Use Ticket Group Filters</h4>

            <p>See how you can use filters when looking at tickets that are available for an event.</p>

            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>

          </div>
        </a>
      </div>

      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106500716">

          <div class="module">

            <h4 class="mt20">Unbroadcast a Ticket Group</h4>

            <p>See how you can Unbroadcast a single ticket group from your inventory.
            </p>
            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>
          </div>
        </a>
      </div>

      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106501868">

          <div class="module">

            <h4 class="mt20">Mark Tickets as Wasted</h4>

            <p>See how you can accurately mark tickets as wasted if they didn’t sell so you can report and track your inventory accurately.</p>

            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>
          </div>
        </a>
      </div>

    </div>

    <!--END ROW-->


    <!--ROW-->
    <div class="row">
      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106851275">

          <div class="module">

            <h4 class="mt20">Build an EvoQuote</h4>

            <p>See how you can build an EvoQuote to send to your Client.</p>

            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>
          </div>
        </a>
      </div>

      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106853519">

          <div class="module">

            <h4 class="mt20">Take Tickets</h4>

            <p>See how you can take tickets and reserve them for a Client or another Broker or Marketplace.</p>

            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>

          </div>
        </a>
      </div>

      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106853995">

          <div class="module">

            <h4 class="mt20">View Takes</h4>

            <p>See how you can view the tickets you currently have reserved on your taken tickets view.
            </p>
            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>
          </div>
        </a>
      </div>

      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106855246">

          <div class="module">

            <h4 class="mt20">Release a Take</h4>

            <p>See how you release tickets that were taken and move them back into your inventory as available.</p>

            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>
          </div>
        </a>
      </div>

    </div>

    <!--END ROW-->

    <!--ROW-->
    <div class="row">
      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106856304">

          <div class="module">

            <h4 class="mt20">View an Event's Seating Chart</h4>

            <p>See how you can view an Event’s Seating Chart when looking at Tickets.</p>

            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>
          </div>
        </a>
      </div>

      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106858570">

          <div class="module">

            <h4 class="mt20">
              Use Event Filters</h4>

            <p>See how you can use Event Filters to search for Events that you want to view.</p>

            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>

          </div>
        </a>
      </div>

      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106919309">

          <div class="module">

            <h4 class="mt20">View Upload History</h4>

            <p>See your Upload History to make sure your Inventory is being sent to your configured Marketplaces.
            </p>
            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>
          </div>
        </a>
      </div>

      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106920014">

          <div class="module">

            <h4 class="mt20">View EvoQuotes</h4>

            <p>See how you can look up and view your existing EvoQuotes.</p>

            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>
          </div>
        </a>
      </div>

    </div>

    <!--END ROW-->

    <!--ROW-->
    <div class="row">
      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106920222">

          <div class="module">

            <h4 class="mt20">Update an EvoQuote</h4>

            <p>See how you can update an EvoQuote to indicate if it just being closed out, you want to convert it as a sale, or you simply want to resend it to your Client.</p>

            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>
          </div>
        </a>
      </div>

      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106920884">

          <div class="module">

            <h4 class="mt20">
              View Sold Tickets for an Event</h4>

            <p>See how you can view what tickets you’ve sold for a specific Event.</p>

            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>

          </div>
        </a>
      </div>

      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106921237">

          <div class="module">

            <h4 class="mt20">Ticket Group Icons</h4>

            <p>See what Ticket Group Icons are displayed for tickets.
            </p>
            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>
          </div>
        </a>
      </div>

      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106922339">

          <div class="module">

            <h4 class="mt20">In Hand Ticket Icon</h4>

            <p>See how you identify whether or not a Ticket is In Hand or Not In Hand.</p>

            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>
          </div>
        </a>
      </div>

    </div>

    <!--END ROW-->

    <!--ROW-->
    <div class="row">
      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106922512">

          <div class="module">

            <h4 class="mt20">
              Searching for Events</h4>

            <p>See the different ways that you can search for Events.</p>
            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>
          </div>
        </a>
      </div>

      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106951526">

          <div class="module">

            <h4 class="mt20">Edit Prices for a Single Event</h4>

            <p>See how you can easily edit your ticket prices for a single event.</p>
            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>
          </div>
        </a>
      </div>

      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106952960">

          <div class="module">

            <h4 class="mt20">
              Edit Prices on Multiple Events</h4>

            <p>See how you can easily edit ticket prices for multiple events in the system at the same time.</p>

            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>

          </div>
        </a>
      </div>

      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106962281">

          <div class="module">

            <h4 class="mt20">Exclude Tickets from Specific Exchanges</h4>

            <p>See how you can prevent specific tickets from being sent to certain exchanges.</p>

            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>
          </div>
        </a>
      </div>

    </div>

    <!--END ROW-->

    <!--ROW-->
    <div class="row">
      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106962551">

          <div class="module">

            <h4 class="mt20">Edit a Single Ticket Group</h4>

            <p>See how you can edit a single Ticket Group in your inventory.</p>
            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>
          </div>
        </a>
      </div>

      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106964340">

          <div class="module">

            <h4 class="mt20">
              Mark Tickets In Hand</h4>

            <p>See how you can Mark your Inventory as In Hand once you receive the physical or electronic tickets.</p>
            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>
          </div>
        </a>
      </div>

      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/107038151">

          <div class="module">

            <h4 class="mt20"> View Holds</h4>

            <p>See how you can view tickets that are currently on hold.</p>

            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>

          </div>
        </a>
      </div>

      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/107038215">

          <div class="module">

            <h4 class="mt20">Release Holds</h4>

            <p>See how you can release tickets that are currently on hold back into your inventory.</p>

            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>
          </div>
        </a>
      </div>

    </div>

    <!--END ROW-->

    <!--ROW-->
    <div class="row">
      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/107038275">

          <div class="module">

            <h4 class="mt20">Hold Tickets</h4>

            <p>See how you can Hold Tickets and reserve them for a Client or Broker with a time expiration indicated.</p>
            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>
          </div>
        </a>
      </div>

      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/107038389">

          <div class="module">

            <h4 class="mt20">
              Edit Hold</h4>

            <p> See how you can edit tickets that are on hold. </p>
            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>
          </div>
        </a>
      </div>



    </div>

    <!--END ROW-->


  </div>
</div>


</div><!-- CONTENT -->

<% include /partials/footer %>
