<% include /partials/header %>

<% include /partials/header-support %>



<div class="pside">
  <div class="container padded">
    <h3>MANAGE ORDERS</h3>

    <ol class="breadcrumb">
      <li><a href="#">Support</a></li>
      <li><a href="/support/video-guides">Video-Guides</a></li>
      <li class="active">Manage Orders</li>
    </ol>

    <!--ROW-->
    <div class="row">
      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106920468">

          <div class="module">

            <h4 class="mt20">Look up Pending Order</h4>

            <p>See how you can look up your Pending Orders that you need to review and confirm.</p>

            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>
          </div>
        </a>
      </div>

      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106920582">

          <div class="module">

            <h4 class="mt20">Look up Unpaid Orders</h4>

            <p> See how you can look up your Confirmed Orders that you’re still owed money on and are categorized as Accounts Receivable.
            </p>

            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>
          </div>
        </a>
      </div>

      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106920738">

          <div class="module">

            <h4 class="mt20">
              Complete a Pending Payment on Unpaid Order</h4>

            <p>See how you can complete a Pending Payment that exists on an Order that still has a balance remaining.</p>

            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>

          </div>
        </a>
      </div>

      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106920816">

          <div class="module">

            <h4 class="mt20">Look up an Order</h4>

            <p>See the different ways that you can look up an Order.</p>

            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>
          </div>
        </a>
      </div>

    </div>

  <!--END ROW-->

    <!--ROW-->
    <div class="row">
      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106920884">

          <div class="module">

            <h4 class="mt20">
              View Sold Tickets for an Event</h4>

            <p>See how you can view what tickets you’ve sold for a specific Event.</p>

            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>
          </div>
        </a>
      </div>

      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106960953">

          <div class="module">

            <h4 class="mt20">Lookup Orders for a Specific Event</h4>

            <p> See how you can look up orders for a specific event. </p>

            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>
          </div>
        </a>
      </div>


    </div>

    <!--END ROW-->

  </div>
</div>


</div><!-- CONTENT -->

<% include /partials/footer %>
