<% include /partials/header %>

<% include /partials/partner-support %>

<div class="pside">
<div class="container padded">
<h3>Please select what you need help with:</h3>

<div class="row">


  <div class=" col-sm-3 col-xs-12 mb40 text-center mt40">
    <a href="/support/partners/setup">
      <div class="module">

          <span class="fa-stack fa-lg mb40 mt40">
          <i style="font-size: 50px;" class="fa fa-money fa-stack-1x"></i>
          </span>

        <h4>Simple Setup & <br/>Getting Paid</h4>

        <p>Setting up Braintree, FedEx, EvoPay & more.</p>
      </div>
    </a>
  </div>

  <div class=" col-sm-3 col-xs-12 mb40 text-center mt40">
    <a href="/support/partners/policies">
      <div class="module">

          <span class="fa-stack fa-lg mb40 mt40">

            <i style="font-size: 50px;" class="fa fa-book fa-stack-1x"></i>

  </span>

        <h4>TEvo Policies</h4>

        <p>Make sure you stay compliant.</p>
      </div>
    </a>
  </div>

  <div class=" col-sm-3 col-xs-12 mb40 text-center mt40">
    <a href="/support/partners/team">
      <div class="module">

          <span class="fa-stack fa-lg mb40 mt40">

            <i style="font-size: 50px;" class="fa fa-info-circle fa-stack-1x"></i>

  </span>

        <h4>Partner <br/> Success Team</h4>

        <p>Meet Joe, J, Wendy and the rest of the Partner Sucess team.</p>
      </div>
    </a>
  </div>

</div>


</div>
</div>


</div><!-- CONTENT -->

<% include /partials/footer %>
