<% include /partials/header %>

<% include /partials/partner-support %>


<div class="pside">
  <div class="container padded">
    <h3>PARTNER SUCCESS TEAM & CONTACT </h3>

    <ol class="breadcrumb">
      <li><a href="#">Support</a></li>
      <li><a href="/support/partners">Partners</a></li>
      <li class="active">Partner Success Team/Contact Infotmation</li>
    </ol>

    <div class="row mt40">
      <div class=" col-sm-3 col-xs-12 text-center">

           <img src="/images/wendy.png" width="200px"/>

      </div>

      <div class=" col-sm-9 col-xs-12 mt20">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106980903">

          <div class="moduleVocab">

            <h4 class="mt20">Joe Frohnhoefer</h4>

            <p>Partner success manager blurb here.</p>

            <address>
              p. 212.555.5555 <br/>
              e. joe@ticketevolution.com
            </address>

          </div>
        </a>
      </div>

      </div>

    <div class="row mt40">
      <div class=" col-sm-3 col-xs-12 text-center">

        <img src="/images/wendy.png" width="200px"/>

      </div>

      <div class=" col-sm-9 col-xs-12 mt40">


          <div class="moduleVocab">

            <h4 class="mt20">Wendy Bruno</h4>

            <p>Customer support blurb here.</p>

            <address>
              p. 212.555.5555 <br/>
              e. joe@ticketevolution.com
            </address>

          </div>

      </div>

    </div>

    <div class="row mt40">
      <div class=" col-sm-3 col-xs-12 text-center">

        <img src="/images/j.png" width="200px"/>

      </div>

      <div class=" col-sm-9 col-xs-12 mt40">


          <div class="moduleVocab">

            <h4 class="mt20">J Cobb</h4>

            <p>Integrations blurb here.</p>

            <address>
              p. 212.555.5555 <br/>
              e. joe@ticketevolution.com
            </address>

          </div>

      </div>

    </div>

    <div class="row mt40">


      <div class=" col-sm-6 col-xs-12 mt40">


        <div class="moduleVocab">

          <h4 class="mt20">Customer Support Issues:</h4>
          <p>
          <strong>Phone:</strong><br/> 877-688-8822 <br/><small>(Choose Option 5 during normal business hours to reach us faster.)</small><br/>
          <br/>

            <strong>Email:</strong><br/> Evohelp@ticketevolution.com <br/> <br/>


            <strong>Hours:</strong> <br/>8:30 AM-8:00 PM CST, 7 Days/week<br/>

            <hr/>

          <strong>After hours phone queue:</strong><br/> 877-688-8822 between the hours of 8:01 PM-8:29 AM CST, 7 Days/Week<br/><br/>

          <strong>Having an emergency?</strong><br/>

  Dial 877-688-8822, select option 5, then option 2 to reach the mailbox for the emergency after-hours representative.  Be sure to include the order number, time and venue of the event, and your contact telephone number.  All calls will be returned in order of priority.  Messages that relate to events that are due to take place before 8:00 AM, Central Standard Time, the following morning, will be returned first.
          Hours and Contact Information for Tech.

          </p>


        </div>

      </div>

      <div class=" col-sm-6 col-xs-12 mt40">


        <div class="moduleVocab">

          <h4 class="mt20">Technical Support Issues:</h4>
          <p>
            <strong>Phone:</strong><br/>  877-688-8822 <br/><small>(Option 2)</small><br/>
            <br/>

            <strong>Email:</strong><br/>support@ticketevolution.com
            <br/> <br/>


            <strong>Hours:</strong> <br/>8:00 AM-5:00 PM CST, Monday-Saturday<br/>

          <hr/>

          <strong>Important Note:</strong><br/> The support queue can assist if any technical issues are encountered, (for example, in the event of unknown error messages or other problems involving infrastructure.)  However, once any technical issues are resolved, any non-technical ticketing issues would need to be referred to the Customer Service group.<br/><br/>

          </p>
        </div>

      </div>

    </div>



    </div>





  </div>
</div>


</div><!-- CONTENT -->

<% include /partials/footer %>
