<% include /partials/header %>

<% include /partials/partner-support %>


<div class="pside">
  <div class="container padded">
    <h3>IMPORTANT LINKS</h3>

    <ol class="breadcrumb">
      <li><a href="#">Support</a></li>
      <li><a href="/support/partners">Partners</a></li>
      <li class="active">Important Links</li>
    </ol>

    <div class="row">
      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106980903">

          <div class="module">

            <h4 class="mt20">Create an Order/PO with a Partial Payment</h4>

            <p>See how you can create an Order or Purchase Order with a partial payment.</p>

            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>
          </div>
        </a>
      </div>

      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106959068">

          <div class="module">

            <h4 class="mt20">Create new Category Seats</h4>

            <p>See how you can create new Category Seats (Speculative) to list in your inventory or create a Pre-Order (Short).</p>

            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>
          </div>
        </a>
      </div>

      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106956473">

          <div class="module">

            <h4 class="mt20">Create a new Purchase Order</h4>

            <p>See how you can create a new Purchase Order and add tickets to your inventory.</p>

            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>

          </div>
        </a>
      </div>

      <div class=" col-sm-3 col-xs-12 mb40 mt40">
        <a class="fancybox-media" href="http://player.vimeo.com/video/106921115">

          <div class="module">

            <h4 class="mt20">Buy Tickets</h4>

            <p>See how you can Buy Tickets from another Broker directly through the system.</p>

            <p style="font-weight: 700; color: #555;"><i class="fa fa-play-circle"></i> PLAY NOW</p>
          </div>
        </a>
      </div>

    </div>



  </div>
</div>


</div><!-- CONTENT -->

<% include /partials/footer %>
