<% include /partials/header %>

<% include /partials/partner-support %>


<div class="pside">
  <div class="container padded">
    <h3>GETTING STARTED</h3>

    <ol class="breadcrumb">
      <li><a href="#">Support</a></li>
      <li><a href="/support/partners">Partners</a></li>
      <li class="active">Getting Started</li>
    </ol>

    <div class="row">
      <div class=" col-sm-12 col-xs-12 mt40">

          <div class="moduleVocab">

            <h4 class="mt20">Braintree Payment Systems Gateway:</h4>

            <p>If you will be charging your client’s credit card, we can automate all of that for you via our API because we are fully integrated with Braintree Payment Systems and they act as the gateway to your Merchant Account.
</p>
            <p>
              Please fill out the Braintree form at http://bit.ly/1oims4x
            </p>

          </div>

      </div>

      <div class=" col-sm-12 col-xs-12 mt20">


          <div class="moduleVocab">

            <h4 class="mt20">VAR Sheet:</h4>

           <p>Additionally, Braintree will need your Merchant Account provider to fill out this VAR sheet so that they can connect to them: http://bit.ly/1kYWaj0</p>

            <p>If you do not yet have a Merchant Account, we highly recommend using Bill Hoidas at Matrix Payment Systems as they have great rates and they are familiar with our industry and provide Merchant Accounts for hundreds of our Sellers and Partners.
            </p>

            <p><strong>Bill Hoidas at Matrix Payment Systems:</strong>
              <br/>(847) 381-3482
              <br/> bhoidas@gmail.com

              <br/><a href="http://paymentconsulting.net" target="_blank"> paymentconsulting.net</a></p>
          </div>

      </div>

      <div class=" col-sm-12 col-xs-12 mt20">


          <div class="moduleVocab">

            <h4 class="mt20">Kount:</h4>

            <p>If you are charging your Client’s credit cards via our API/Braintree we also highly recommend that you use our Kount Fraud Protection service. If you are interested or would like more information or a demo please let me know.
            </p>
          </div>

      </div>

      <div class=" col-sm-12 col-xs-12 mt20">
          <div class="moduleVocab">

            <h4 class="mt20"> EvoPay:</h4>

            <p>You will be using EvoPay, our own electronic payment system (think PayPal) to purchase tickets from Ticket Evolution on behalf of your clients. Before launch you must signup and fund your EvoPay account. Your EvoPay account will be funded via ACH from your bank account and will need to be “topped off” periodically as the system will not allow you to place an order for which you do not have EvoPay funds available. Although deposits usually only take one business day it could take up to three days so you will need to plan accordingly.
            </p>

            <p>Please complete the EvoPay signup form at http://bit.ly/1p5VVrr.
            </p>

            <p>As we near launch I will let you know when to make your initial deposit into your account.
            </p>

            <p>Additionally, our system can automatically alert your Accounting Contact above when your EvoPay balance is low. As your sales grow you will want to adjust the amount upwards.
            </p>
          </div>

      </div>

      <div class=" col-sm-12 col-xs-12 mt20">

          <div class="moduleVocab">

            <h4 class="mt20">FedEx Discount Program:</h4>

            <p>If you will be selling physical tickets that require shipping we will use FedEx Express to do so.
            </p>

            <p>We offer a FedEx Discount Program where you receive 35% off FedEx’s standard transportation rates. We will bill your credit card weekly for any shipments billed by FedEx.
            </p>

            <p>If you would you like to join our FedEx Discount Program please fill out the form at http://bit.ly/1oijgG5.
            </p>
            <p>If you prefer to use your own FedEx account you may do so, we just need you to provide us with your account number.
            </p>

          </div>

      </div>




    </div>



  </div>
</div>


</div><!-- CONTENT -->

<% include /partials/footer %>
