<% include /partials/header %>

<% include /partials/partner-support %>


<div class="pside">
  <div class="container padded">
    <h3>POLICIES</h3>

    <ol class="breadcrumb">
      <li><a href="#">Support</a></li>
      <li><a href="/support/partners">Partners</a></li>
      <li class="active">Policies</li>
    </ol>

    <div class="row">
      <div class=" col-sm-12 col-xs-12 mt40">

          <div class="moduleVocab">

            <h4 class="mt20">LMO (Last Minute Orders):</h4>

            <p>A Last Minute Order is an order placed no later than 4 hours prior to the start of an event.  If an order is placed later than that, we cannot guarantee its fulfillment.
            </p>

          </div>

      </div>

      <div class=" col-sm-12 col-xs-12 mt20">

          <div class="moduleVocab">

            <h4 class="mt20">Flash seats:</h4>

            <p>Flash Seats is an ID-based digital ticketing system that allows event goers to enter an event with any form of convenient digital ID, such as a credit card or a Mobile ID through the Flash Seats mobile app. The Flash Seats website is located at http://www.flashseats.com.  Additional information about Flash Seats may be found in their Frequently Asked Questions page, located at http://www.flashseats.com/FAQsDetails.aspx?ss=0&a=1#.
            </p>

          </div>

      </div>

      <div class=" col-sm-12 col-xs-12 mt20">

          <div class="moduleVocab">

            <h4 class="mt20">Local Pickup and/or Will Call:</h4>

            <p>The terms “Local Pickup” and “Will Call” refer to tickets that may be picked up by the customer at a specific location.  If tickets have been offered on a Will Call or Local Pickup basis, we will send an automated email containing the details of the pickup.  These tickets are usually available at one of three sorts of locations:</p>

          </div>

      </div>

      <div class=" col-sm-12 col-xs-12 mt20">

          <div class="moduleVocab">

            <h4 class="mt20"> Will Call:</h4>

            <p>The Venue may have a will-call box at which tickets may be picked up:
            </p>
          </div>

      </div>

      <div class=" col-sm-12 col-xs-12 mt20">

          <div class="moduleVocab">

            <h4 class="mt20">Local Pickup:</h4>

            <p>A local vendor may sometimes allow customers to pick tickets up in their offices.
            </p>
          </div>

      </div>

      <div class=" col-sm-12 col-xs-12 mt20 mb40">

          <div class="moduleVocab">

            <h4 class="mt20">Third Party:</h4>

            <p>A third party site, such as a restaurant, may sometimes be used as the local pickup location.
            </p>
          </div>

      </div>



    </div>



  </div>
</div>


</div><!-- CONTENT -->

<% include /partials/footer %>
