<% include /partials/header %>


<!-- HERO -->

<div id="product" class="text-center francytitle" data-speed="6" data-type="background" >

  <div class="row">
    <div class="col-lg-12">
      <h1 >CORE: Point Of Sale </h1><h3 class="lead">#TheGreatMigration</h3>


    </div>
  </div>
</div>




<!-- CONTENT -->
<div class="pside">
  <div class="container padded">
    <div class="row">
      <div class="col-lg-12 text-center">

        <h2 class="mb20">Do it all with CORE.</h2>

        <p class="lead">The only web based platform built by Ticket Brokers for Ticket Brokers and Trusted by the largest Ticket Brokers.</p>
        <p>
          Wherever you are, access your inventory, orders, deliveries, reports and more in real time with Core. Core’s seamless integration with your website, mobile apps and powerful fraud tools make processing orders a snap!  If you are a professional ticket reseller looking to compete in the ever changing landscape of the secondary ticket industry, power your company with Core!
        </p>
      </div>
    </div>

  </div>
</div>




<div class="container-fw carbon " style="background: #555;">
  <div class="">

    <div class="row pt60 shade1">
      <div class="container">
        <div class="col-md-6 col-md-push-6 pl40 ">
          <h3 class="mb20">
          <span style="color: #555;">
          Real Time Purchasing - The Most Robust Exchange...Period!

            </span>
          </h3>

          <p>
            Access over $2 Billion dollars in broker inventory and buy tickets with just a few clicks.  The Ticket Evolution exchange boasts the lowest prices across every exchange, hundreds of thousands of Instant Delivery tickets and the largest brokers in the country that cannot be found anywhere else.
          </p>
        </div>
        <div class="col-md-6 col-md-pull-6 ">
          <img class="img-responsive" src="/images/POS.png">
        </div>
      </div>
    </div>

    <div class="row pt60 shade2">
      <div class="container">
        <div class="col-md-6 pl40">
          <h3 class="mb20">
          <span style="color: #fff;">
          Automation - We play well with others.
            </span>
          </h3>

          <p style="color: #fff">
            The combination of countless automated features built into Core as well as seamless integrations with 3rd party auto-processors 1Ticket.com and Autoprocessor.com, puts every facet of our business will be on full auto! This includes FedEx updates, inventory distribution, web order fulfillment, eticket delivery, purchase order creation, uploading PDF’s and automated order processing from most marketplaces.
          </p>
        </div>
<div class="row mt40">
          <div class="col-md-3 text-center">
          <img class="img-responsive img-thumbnail mt20 center-div" src="/images/kount.png" width="132" height="35px">

          <img class="img-responsive img-thumbnail mt20" src="/images/braintree.png" width="132" height="35px">

          <img class="img-responsive img-thumbnail mt20" src="/images/fedex_02.png" width="132" height="35px">
        </div>

        <div class="col-md-3">

          <img class="img-responsive img-thumbnail" src="/images/1_ticket_2.png" width="132">

          <img class="img-responsive img-thumbnail mt20" src="/images/auto_p.png" width="132">
          <img class="img-responsive img-thumbnail mt20" src="/images/stubhub_03.png" width="132">
        </div>
</div>

      </div>
    </div>

    <!--<div class="row automation alternate pt60">-->
    <!--<div class="container">-->
    <!--<div class="col-md-6 container pl40">-->
    <!--<h3 class="mb20">-->
    <!--<span style="color: #555;">-->
    <!--Customizable-->
    <!--</span>-->
    <!--</h3>-->

    <!--<p>-->
    <!--Select your own theme, logo, hero image and more in order to create your own unique ticketing experience.-->
    <!--</p>-->
    <!--</div>-->
    <!--<div class="col-md-6">-->
    <!--<img class="img-responsive" src="/images/custom.png">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <div class="row pt60 shade3">
      <div class="container">
        <div class="col-md-6 col-md-push-6 pl40">
          <h3 class="mb20">
          <span>
          The only web based POS built that supports your retail business as well as your wholesale business.

            </span>
          </h3>

          <p>

            Retail is not dead!  Many brokers still have a successful retail business and we think thats great!  Core lets you effortlessly run credit cards, source orders, manage payables and receivables, deliver etickets, run granular reports and so much more!


          </p>
        </div>
        <div class="col-md-6 col-md-pull-6">
          <img class="img-responsive" src="/images/responsive.png">
        </div>
      </div>
    </div>


  </div>



</div>



<!-- AUTOMATION BAR -->

<div class="gray mb40" style="background: #42a498;">
  <div class="container subs">
    <div class="row">


      <div class="col-md-6 hidden-xs text-center">
        <h3 style="margin-top: 25px;">Disconnected from the industry?</h3>
      </div>
      <div class="col-md-6 text-center cta" style="background:none;">
        <p style="margin:0;"><a id="get_info" class="btn btn-huge btn-default" style="margin-top:0" href="/contact" role="button">Get on the POS today <i class="fa fa-angle-double-right"></i></a></p>

      </div>



    </div>

  </div>


</div>



<!-- FEATURES -->
<div class="pside mb40 featureset">
  <div id="features" class="padded">
    <div class="container">

      <!--<h2>-->
      <!--<span style="color:#42a498;"> Carbon is...</span></h2>-->

      <div class="row spacer text-center">
        <div class="col-xs-6 col-sm-4">



          <img src="/images/fraud.png" width="70px;">

          <h3> Fraud <br/> Protection </h3>

          <p>Approve and automate order fulfilment in real time with our enterprise grade fraud protection suite.</p>

        </div>

        <div class="col-xs-6 col-sm-4">

          <img src="/images/barcode_1.png" width="70px;">

          <h3> E-Tickets & Barcode Management
          </h3>

          <p>Store, Manage and Distribute Etickets and Barcode’s for simple order fulfillment including Instant Delivery.</p>
        </div>


        <div class="col-xs-6 col-sm-4 hidden-xs">
          <div class="text-center">

            <img src="/images/stubhub_feat.png" width="70px;">

            <h3>Real Time Stubhub Integration</h3>

            <p>Pre-Deliver Etickets and Barcodes to Stubhub and watch your inventory quickly update after
              every single action.</p>

          </div>
        </div>
      </div>


      <div class="row spacer text-center" style="padding-top:80px;">
        <div class="col-xs-6 col-sm-4">
          <div class="text-center">
            <img src="/images/qb.png" width="70px;">

            <h3>Direct Quickbooks Integration
            </h3>
          </div>
          <p>Sales Orders, invoices, purchase orders, bills, payments, refunds, credit memos, vendors and customers all get created in Quickbooks every 30 minutes automatically.</p>

        </div>
        <div class="col-xs-6 col-sm-4">
          <div class="text-center">
            <img src="/images/website.png" width="70px;">

            <h3>Website <br/> Integration</h3>
          </div>
          <p>Watch as your web orders are filled by other sellers in real time as soon as they are placed by your customers providing the ultimate customer experience!

          </p></div>
        <div class="col-xs-6 col-sm-4 hidden-xs">


          <img src="/images/cc.png" width="70px;">

          <h3> Credit Card <br/> Processing </h3>

          <p>Perform all authorizations, settlements, voids and credits with just a few clicks and store all credit cards in the PCI Compliant Braintree vaut for easy access.</p>



        </div>
      </div>

      <div class="row spacer text-center" style="padding-top:80px;">
        <div class="col-xs-6 col-sm-4">


          <img src="/images/web_based.png" width="70px;">

          <h3>Web Based </h3>

          <p>Access Core from any computer or tablet with internet access.  Get rid of remote connections and VPN’s forever!
          </p>

        </div>

        <div class="col-xs-6 col-sm-4">

          <img src="/images/data.png" width="70px;">

          <h3> Simple Data Conversions

          </h3>

          <p>Bring all your tickets, customer data and orders over with you from your current POS. We make things simple.
           </p>
        </div>


        <div class="col-xs-6 col-sm-4 hidden-xs">


            <img src="/images/api.png" width="70px;">

            <h3>API Access
            </h3>

            <p>Build your own custom tools to work alongside your POS and take your business to a level you have only dreamed about.
            </p>


        </div>
      </div>




      <!-- restacking -->
      <div class="row spacer visible-xs" style="padding-top:80px;">

        <div class="col-xs-6 visible-xs-inline-block text-center">


            <img src="/images/stubhub_feat.png" width="70px;">

            <h3>Real Time Stubhub Integration</h3>

            <p>Pre-Deliver Etickets and Barcodes to Stubhub and watch your inventory quickly update after
              every single action.</p>



        </div>
        <div class="col-xs-6 visible-xs-inline-block text-center">
          <img src="/images/cc.png" width="70px;">

          <h3> Credit Card <br/> Processing </h3>

          <p>Perform all authorizations, settlements, voids and credits with just a few clicks and store all credit cards in the PCI Compliant Braintree vaut for easy access.</p>


        </div>

        <div class="col-xs-6 visible-xs-inline-block text-center">
          <img src="/images/api.png" width="70px;">

          <h3>API Access
          </h3>

          <p>Build your own custom tools to work alongside your POS and take your business to a level you have only dreamed about.
          </p>
        </div>
      </div>
      <!-- /restacking -->


    </div>
  </div>
</div>











<!-- CTA -->


<!--<div class="container-fw cta padded">-->
<!--<div class="row">-->
<!--<div class="col-md-12 text-center">-->
<!--<h1>Ready to get started? </h1>-->



<!--<p><a id="get_info" class="btn btn-huge btn-default floating" href="#" role="button">Sign Up Now <i-->
<!--class="fa fa-angle-double-right"></i></a></p>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->



<% include /partials/footer %>