<% include /partials/header %>
<script>
  $('#pricingmenu').addClass('active');
</script>


<div class="padded">
<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">

      <h2>Transparent Pricing</h2>
      <p class="lead">The most simple and transparent pricing in the industry. No contracts or commitments required. </p>

    </div>
  </div>

  <hr/>
</div>



<!-- CORE PRICING -->

<div class="container">
  <!--<div class="row">-->
    <!--<div class="col-md-12 text-center pricepage">-->
      <!--<h2 class="decorated"><span>CORE Platform</span></h2>-->
    <!--</div>-->
  <!--</div>-->
  <div class="row pricing">

    <div class="col-md-6 ">
      <div class="row pricingheader">
        <div class="col-md-12 ">
          <h3>CORE</h3>
          <p>List your tickets on Ticket Evolution</p>
        </div>
      </div>


      <div class="row pricingcenter">
        <div class="col-md-12 ">

          <p class="coreprice"> $0/month + 6% per TEvo partner order </p>

          <p> Auto-Uploader </p>


          <p> Free Broker to Broker Orders </p>

          <p> No Fee EvoPay </p>
          <p> - </p>

          <p> - </p>

          <p> - </p>

        </div>
      </div>

      <div class="row ctago">
        <div class="col-md-12 ctago2 ">
          <p><a id="get_info" class="btn btn-huge btn-default" href="/contact" role="button">GET STARTED </a></p>
        </div>
      </div>

    </div>

    <!--<div class="col-md-4 ">-->
      <!--<div class="row pricingheader">-->
        <!--<div class="col-md-12 ">-->
          <!--<h3>CORE Lite opt2</h3>-->
        <!--</div>-->
      <!--</div>-->


      <!--<div class="row pricingcenter">-->
        <!--<div class="col-md-12 ">-->

          <!--<p class="coreprice"> $99/month + 3% per TEvo partner order </p>-->

          <!--<p> Free Broker to Broker Orders </p>-->

          <!--<p> No Fee EvoPay </p>-->

          <!--<p> Free Broker to Broker Orders </p>-->

          <!--<p> Auto-Uploader </p>-->

          <!--<p> Free Carbon Store (3% fee per order) </p>-->

          <!--<p> API up to 50K queries per month included ($50 per additional 50K queries) </p>-->



          <!--<p> - </p>-->

          <!--<p> - </p>-->

          <!--<p> - </p>-->

        <!--</div>-->
      <!--</div>-->

      <!--<div class="row ctago">-->
        <!--<div class="col-md-12 ctago2 ">-->
          <!--<p><a id="get_info" class="btn btn-huge btn-default" href="/contact" role="button">GET STARTED </a></p>-->
        <!--</div>-->
      <!--</div>-->

    <!--</div>-->

    <div class="col-md-6 pricingheaderpos">
      <div class="row pricingheader">
        <div class="col-md-12 ">
          <h3>CORE POS </h3>
          <p>Manage your tickets using Ticket Evolution's Point of Sale</p>
        </div>
      </div>


      <div class="row pricingcenter">
        <div class="col-md-12 ">

          <p class="coreprice"> $99/month + 3% per TEvo partner order </p>

          <p> Inventory Management </p>

          <p> Free Broker to Broker Orders </p>

          <p> No Fee EvoPay </p>


          <p> Free Carbon Store (3% fee per order) </p>


          <p> Customer Management </p>

          <p> Reporting </p>




        </div>
      </div>

      <div class="row ctago">
        <div class="col-md-12 ctago2 ">
          <p><a id="get_info" class="btn btn-huge btn-default" href="/contact" role="button">GET STARTED </a></p>
        </div>
      </div>
    </div>


  </div>
</div>



<!-- /CORE PRICING -->


<!-- CARBON PRICING -->
<div class="container">

  <div class="row pricing">

    <div class="col-md-12 ">

      <div class="row">
        <div class="col-md-12 ">

        </div>
      </div>


      <div class="row carbonpricing" >
        <div class="col-md-12 " style="text-align: left;">

          <p class="lead"><strong> Just Need A Carbon Store? </strong></p>
          <p > Get a Carbon Store to run you business for just $50/month for your 1st store + 3% fee per order. Each additional store will be $25/month +3% fee per order.

          </p>

        </div>
      </div>

    </div>



  </div>
</div>
<!-- /CARBON PRICING -->


<!-- ADDONS -->

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center pricepage">

      <h2 class="decorated"><span>Additional Add Ons</span></h2>
    </div>
  </div>

  <div class="row pricing priceaddons">

    <div class="col-md-4 ">
      <div class="row addons">
        <div class="col-md-12 ">
        <img src="/images/braintree.png"  >
        </div>
      </div>


      <div class="row pricingcenter addons2">
        <div class="col-md-12 ">

          <p><strong>Braintree Payment Gateway</strong></p>
          <p> $10/month +$.10 per transaction </p>

        </div>
      </div>

    </div>


    <div class="col-md-4 ">
      <div class="row addons">
        <div class="col-md-12 ">
          <img src="/images/kount.png">
        </div>
      </div>


      <div class="row pricingcenter">
        <div class="col-md-12  ">

          <p><strong>Kount Fraud Protection</strong></p>
          <p> One time $50 setup fee
            $50/month + $.15 per transaction </p>
        </div>
      </div>



    </div>

    <div class="col-md-4 ">
      <div class="row addons">
        <div class="col-md-12 ">
        <img src="/images/fedex.png">
        </div>
      </div>


      <div class="row pricingcenter">
        <div class="col-md-12 ">

          <p><strong>FedEx Discount Program</strong></p>
          <p>No monthly fee, simply 35% discount off retail price (increases based on volume)
            Billed weekly for packages delivered in the previous billing period. </p>

        </div>
      </div>


    </div>


  </div>
</div>


<!-- //ADDONS -->


</div> <!-- /padded -->



<% include /partials/footer %>

