<% include /partials/header %>


<!-- HERO -->

<div id="about-us" class="features text-center francytitle" data-speed="6" data-type="background" style="min-height: 300px;"></div>



<!-- CONTENT -->

<div class="container padded about">

<div class="col-md-8 col-xs-12">

<h2 class="title-dark mb40">Senior Engineer</h2>

<p>
  We are looking for someone who knows how to build interactive and easy-to-use interfaces using the latest web browsers and technologies. Challenges include creating interfaces that make it easy for brokers to process complex trades among multiple parties using different payment methods and shipment options. Hundreds of brokers and millions of customers interact with our software to do everything from trading millions worth of ticket inventory to snagging a hot-deal to the latest event from one of our many consumer facing partner sites. This role requires someone who wants to work with our tech-savvy team and design amazing interfaces that will help us secure our advanced position in the industry.
</p>

  <h4 class="mb20">Responsibilities:</h4>

  <ul class="mb20">
    <li>Work directly with both the VP of Engineering and VP of Product, in order to plan, build and deploy new interfaces and features.</li>
    <li>Look into how current features can be enhanced and take initiative to ensure that our products remains the best in the industry.</li>
    <li>Finding and closing gaps in the automated test suite in order to ensure that our software works correctly each-and-every time.</li>
    <li>Looking at statistics on how our software is used and coming to conclusions on how to increase usability and conversions.</li>
    <li>Understanding what functionality our API offers and giving advice on how it can be improved.</li>
    <li>Keeping abreast of the latest technologies that can help us better serve our customers software needs.</li>
  </ul>

  <h4 class="mb20">Skills:</h4>

   <ul class="mb20">
     <li>Sold understanding of browser based programming and how to write HTML, CSS and performant JavaScript.</li>
     <li>Skilled in using JavaScript frameworks such as BackBone, Angular, Knockout or Ember in order to manage application complexity.</li>
     <li>Strong experience with the web, HTTP, and how to interact with JSON based API’s using evented JavaScript features (such as AJAX and promises).</li>
     <li>Knowledge of TDD patterns for JavaScript and experience with testing framworks such as Jasmin or QUnit.</li>
     <li>Familiarity and comfort in Agile project planning such as Scrum, as well working in a product scope that can and will change.</li>
     <li>Skills in using source control such as Git</li>
     <li>Knowledge in service oriented architecture.</li>
     <li>Experience in Server-Side languages (like Ruby) and application frameworks (like Rails) are a big plus.</li>
   </ul>

  <h4 class="mb20">Experience:</h4>

  <ul class="mb40">
    <li>3-5 years working on highly scalable, high user web apps. please include a portfolio of work in your application.</li>
  </ul>

  <div class="divider2 mb40"></div>

  <h4 class="mb20">Seem like the right fit for you?</h4>

  <p>Awesome! Send us an email at <a>jobs@ticketevolution.com</a> and let us know why you would be a good fit at Ticket Evolution. Please also include a link to your portfolio and your working application. </p>
</div>


  <div class="col-md-3 col-xs-12 col-md-offset-1">


    <div class="job-list">
    <h4 class="mb40">Current Positions</h4>


    <ul class="mb20">
      <li><a>QA Lead</a></li>
      <li class="current"><a>Senior Engineer</a></li>
      <li><a>FrontEnd Engineer</a></li>
    </ul>
    </div>

  </div>

</div>

<!--CONTENT-->

<% include /partials/footer %>
