<% include /partials/header %>
<script>
  $(function () {
    $('#tab1 a').click(function (e) {
      e.preventDefault();
      $('a[href="' + $(this).attr('href') + '"]').tab('show');
    })
  });
</script>

<!-- HERO -->

<div id="about-us" class="features text-center francytitle aboutUs" data-speed="6" data-type="background" >

  <div class="row">
    <div class="col-lg-12">
      <h1>About Us </h1>
      <h3 class="subtext">List, sell and buy tickets on your own terms.</h3>


      <div class="row">

      <div class="btn-group mt40" role="group" aria-label="...">
        <button type="button" class="btn btn-default"><a href="#history"> History </a></button>
        <button type="button" class="btn"><a href="#meetTheTeam">Meet the team</a></button>
        <button type="button" class="btn"><a href="#jobs">Jobs</a></button>
      </div>
          </div>



    </div>
  </div>
</div>



<!-- CONTENT -->

<!--<div class="container padded carbon about ">-->





<!--</div>-->




    <div class="container-fluid container ">

      <div class="row text-center">
        <div class=" col-sm-12 pb40 pt40">
          <h3 id="history">Ticket Evolution: A Brief History</h3>

          <p>Ticket Evolution was started in 2010 by 3 long time ticket resellers Ram Silverman, Steve Parry and Drew Gainor. In search of better technology than was available to them, they thought who better than they to build it. It turned out that over 120 of the largest ticket resellers agreed. With capital investments from that group and a mission to create better software and more sales channels, Ticket Evolution was started. Since its founding, TEvo as we call ourselves now has over 500 professional ticket resellers using our products. We are fortunate to count some of the most well known companies in the world as our distribution partners.</p>


        </div>
      </div>

    </div>










<div class="container-fluid aboutTheTeam" id="meetTheTeam">
  <div class="row text-center pt40 pb40">
    <h3 >The Tevo Team</h3>
  </div>
  <div id="meetTheTeam ">
  <ul class="ch-grid">
    <li>
      <div class="ch-item col-xs-6 col-sm-3" id="1">
        <div class="ch-info">
          <div class="ch-info-front ch-img-1"></div>
          <div class="ch-info-back">
            <h3>Greg Doran</h3>
            <p>CEO</p>
            <p><a><i class="fa fa-linkedin fa-lg"></i></a></p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="ch-item col-xs-6 col-sm-3" id="2">
        <div class="ch-info">
          <div class="ch-info-front ch-img-2"></div>
          <div class="ch-info-back">
            <h3>Manish Bardolia</h3>
            <p>SVP, Product </p>
            <p><a><i class="fa fa-linkedin fa-lg"></i></a></p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="ch-item col-xs-6 col-sm-3" id="3">
        <div class="ch-info">
          <div class="ch-info-front ch-img-3"></div>
          <div class="ch-info-back">
            <h3>Eric Taraby</h3>
            <p>VP, Business Development</p>
            <p><a><i class="fa fa-linkedin fa-lg"></i></a></p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="ch-item col-xs-6 col-sm-3" id="4">
        <div class="ch-info">
          <div class="ch-info-front ch-img-4"></div>
          <div class="ch-info-back">
            <h3>Kfir Shay</h3>
            <p>VP, Engineering</p>
            <p><a><i class="fa fa-linkedin fa-lg"></i></a></p>
          </div>
        </div>
      </div>
    </li>
  </ul>

    <ul class="ch-grid">
      <li>
        <div class="ch-item col-xs-6 col-sm-3" id="5">
          <div class="ch-info">
            <div class="ch-info-front ch-img-5"></div>
            <div class="ch-info-back">
              <h3>Joe</h3>
              <p>Product Sucess Manager</p>
              <p><a><i class="fa fa-linkedin fa-lg"></i></a></p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="ch-item col-xs-6 col-sm-3" id="6">
          <div class="ch-info">
            <div class="ch-info-front ch-img-6"></div>
            <div class="ch-info-back">
              <h3>Paul Pucciarelli</h3>
              <p>Senior Front End Developer</p>
              <p><a><i class="fa fa-linkedin fa-lg"></i></a></p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="ch-item col-xs-6 col-sm-7" id="7">
          <div class="ch-info">
            <div class="ch-info-front ch-img-7"></div>
            <div class="ch-info-back">
              <h3>Danielle Schechter</h3>
              <p>Marketing</p>
              <p><a><i class="fa fa-linkedin fa-lg"></i></a></p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="ch-item col-xs-6 col-sm-8" id="8">
          <div class="ch-info">
            <div class="ch-info-front ch-img-8"></div>
            <div class="ch-info-back">
              <h3>Rich Soni</h3>
              <p>Senior Engineer</p>
              <p><a><i class="fa fa-linkedin fa-lg"></i></a></p>
            </div>
          </div>
        </div>
      </li>
    </ul>
</div>
  </div>



<div class="container-fluid container" id="jobs">

  <div class="row pb40 pt40">
    <div class=" col-sm-12 text-center pb40 pt40">
      <h3>Help us build something amazing.</h3>
      <!--<p>Ticket Evolution is always looking for talented and dedicated people to join our team. We're currently looking for Front End Engineers, Back End Engineers and Product Support Specialists.-->

        <!--If interested, please send your resume as well as why you think you'd be a good fit for the position to jobs@ticketevolution.com.</p>-->
    </div>

    <div class=" col-sm-8  ">
      <div class=" col-sm-6  ">
      <img class="1" id="1" src="images/group.jpg" />
      </div>
      <div class=" col-sm-6  ">
        <div class=" col-sm-12  ">
      <img class="2" id="2" src="images/dodgeball.jpg" />
          </div>



        <div class=" col-sm-12  ">
          <img class="2" id="2" src="http://dummyimage.com/327x300/000/fff.png" />
        </div>



        </div>
    </div>

    <div class=" col-sm-4 pb40 pt40">
      <h4>Join us.</h4>

      <p>Ticket Evolution is always looking for talented and dedicated people to join our team. We're currently looking for Front End Engineers, Back End Engineers and Product Support Specialists. If interested, please send your resume as well as why you think you'd be a good fit for the position to jobs@ticketevolution.com.</p>

 <p>+ Front End Engineer<br/>
+ Software Engineer<br/>
        + QA Analyst<br/>
   + Content Manager</p>

    </div>


  </div>


  </div>

</div>
</div>

<div class="container-fluid bottomAbout">


</div>







<% include /partials/footer %>
