<% include /partials/header %>
<script>
  $(function () {
    $('#tab1 a').click(function (e) {
      e.preventDefault();
      $('a[href="' + $(this).attr('href') + '"]').tab('show');
    })
  });
</script>

<!-- HERO -->

<div id="about-us" class="features text-center francytitle aboutUs" data-speed="6" data-type="background" >

  <div class="row">
    <div class="col-lg-12">
      <h1>About Us </h1>
      <h3 class="subtext">List, sell and buy tickets on your own terms.</h3>



      <div class="btn-group mt40" role="group" aria-label="...">
        <button type="button" class="btn btn-default"><a href="#history"> History </a></button>
        <button type="button" class="btn"><a href="#meetTheTeam">Meet the team</a></button>
        <button type="button" class="btn"><a href="#jobs">Jobs</a></button>
      </div>


    </div>
  </div>
</div>



<!-- CONTENT -->

<!--<div class="container padded carbon about ">-->





<!--</div>-->




    <div class="container-fluid container ">

      <div class="row text-center">
        <div class=" col-sm-12 pb40 pt40">
          <h3 id="history">Ticket Evolution: A Brief History</h3>

          <p>Ticket Evolution was started in 2010 by 3 long time ticket resellers Ram Silverman, Steve Parry and Drew Gainor. In search of better technology than was available to them, they thought who better than they to build it. It turned out that over 120 of the largest ticket resellers agreed. With capital investments from that group and a mission to create better software and more sales channels, Ticket Evolution was started. Since its founding, TEvo as we call ourselves now has over 500 professional ticket resellers using our products. We are fortunate to count some of the most well known companies in the world as our distribution partners.</p>


        </div>
      </div>

    </div>

<div class="container-fluid aboutTheTeam">
<div id="meetTheTeam ">
    <div class="row text-center ">
    <h3 >The Tevo Team</h3>
    </div>
  <div class="container">
  <div class="row text-center pb40 pt40">
      <div class="col-xs-3">
        <img class="1 img-responsive" id="1" src="images/greg.png" />
        </div>
        <div class="col-xs-3">
        <img class="2 img-responsive" id="2" src="images/manish.png" />
         </div>
          <div class="col-xs-3">
        <img class="3 img-responsive" src="images/kfir.png" />
           </div>
            <div class="col-xs-3">
        <img class="4 img-responsive" src="images/eric.png" />
</div>
        </div>

    <div class="row text-center pb40 pt40">
      <div class="col-xs-3">
        <img class="1 img-responsive" id="1" src="images/danny.png" />
      </div>
      <div class="col-xs-3">
        <img class="2 img-responsive" id="2" src="images/joe.png" />
      </div>
      <div class="col-xs-3">
        <img class="3 img-responsive" src="images/paul.png" />
      </div>
      <div class="col-xs-3">
        <img class="4 img-responsive" src="images/colin.png" />
      </div>
    </div>
  </div>
      </div>
    <div class="row text-center">
      <div class=" col-sm-12 pb40 pt40">
        <img class="1" src="http://dummyimage.com/150x150/000/fff.png" />
        <img class="2" src="http://dummyimage.com/150x150/000/fff.png" />
        <img class="3" src="http://dummyimage.com/150x150/000/fff.png" />
        <img class="4" src="http://dummyimage.com/150x150/000/fff.png" />
        <img class="5" src="http://dummyimage.com/150x150/000/fff.png" />
        <img class="6" src="http://dummyimage.com/150x150/000/fff.png" />
      </div>
    </div>

  <div class="row text-center">
    <div class=" col-sm-12 pb40 pt40">
      <img class="1" src="http://dummyimage.com/150x150/000/fff.png" />
      <img class="2" src="http://dummyimage.com/150x150/000/fff.png" />
      <img class="3" src="http://dummyimage.com/150x150/000/fff.png" />
      <img class="4" src="http://dummyimage.com/150x150/000/fff.png" />
      <img class="5" src="http://dummyimage.com/150x150/000/fff.png" />
      <img class="6" src="http://dummyimage.com/150x150/000/fff.png" />
    </div>
  </div>
    </div>
  </div>
</div>

<div class="container-fluid container pt40 pb40">

  <div class="row ">
    <div class=" col-sm-12 pb40 pt40 text-center">
      <h3 id="jobs">Help us build something amazing.</h3>
      <!--<p>Ticket Evolution is always looking for talented and dedicated people to join our team. We're currently looking for Front End Engineers, Back End Engineers and Product Support Specialists.-->

        <!--If interested, please send your resume as well as why you think you'd be a good fit for the position to jobs@ticketevolution.com.</p>-->
    </div>

    <div class=" col-sm-8  ">
      <div class=" col-sm-6  ">
      <img class="1" id="1" src="images/group.jpg" />
      </div>
      <div class=" col-sm-6  ">
        <div class=" col-sm-12  ">
      <img class="2" id="2" src="images/dodgeball.jpg" />
          </div>



        <div class=" col-sm-12  ">
          <img class="2" id="2" src="http://dummyimage.com/327x300/000/fff.png" />
        </div>



        </div>
    </div>

    <div class=" col-sm-4 pb40 pt40">
      <h4>Join us.</h4>

      <p>Ticket Evolution is always looking for talented and dedicated people to join our team. We're currently looking for Front End Engineers, Back End Engineers and Product Support Specialists. If interested, please send your resume as well as why you think you'd be a good fit for the position to jobs@ticketevolution.com.</p>

 <p>+ Front End Engineer<br/>
+ Software Engineer<br/>
        + QA Analyst<br/>
   + Content Manager</p>

    </div>


  </div>


  </div>

</div>
</div>

<div class="container-fluid bottomAbout">


</div>







<% include /partials/footer %>
