<% include /partials/header %>

<% include /partials/header-support %>

  <div class="pside">
    <div class="container padded">
      <h3>VIDEO TUTORIALS</h3>

      <div class="row">
        <div class=" col-sm-3 col-xs-12 mb40 text-center mt40">
          <a href="/support/video-guides/create-inventory">
          <div class="module">

          <span class="fa-stack fa-lg mb40 mt40">

            <i style="font-size: 50px;" class="fa fa-ticket fa-stack-1x"></i>

          </span>

            <h4>Create Inventory</h4>

            <p>Learn all about creating your ticket inventory on our POS here.</p>

          </div>
            </a>
        </div>

        <div class=" col-sm-3 col-xs-12 mb40 text-center mt40">
          <a href="/support/video-guides/manage-inventory">
          <div class="module">

          <span class="fa-stack fa-lg mb40 mt40">
          <i style="font-size: 50px;" class="fa fa-clipboard fa-stack-1x"></i>
          </span>

            <h4>Manage Inventory</h4>

            <p>Learn all about managing your ticket inventory on our POS here.</p>
          </div>
          </a>
        </div>

        <div class=" col-sm-3 col-xs-12 mb40 text-center mt40">
          <a href="/support/video-guides/create-orders">
          <div class="module">

          <span class="fa-stack fa-lg mb40 mt40">

            <i style="font-size: 50px;" class="fa fa-shopping-cart fa-stack-1x"></i>

  </span>

            <h4>Create Orders</h4>

            <p>Learn how to create orders.</p>
          </div>
            </a>
        </div>

        <div class=" col-sm-3 col-xs-12 mb40 text-center mt40">
          <a href="/support/video-guides/manage-orders">
          <div class="module">

          <span class="fa-stack fa-lg mb40 mt40">

            <i style="font-size: 50px;" class="fa fa-dashboard fa-stack-1x"></i>

  </span>

            <h4>Manage Orders</h4>

            <p>Learn how to manage orders.</p>
          </div>
            </a>
        </div>

      </div>


      <!--ROW TWO-->

      <div class="row">
        <div class=" col-sm-3 col-xs-12 mb40 text-center mt40">

          <a href="/support/video-guides/payments">
          <div class="module">

          <span class="fa-stack fa-lg mb40 mt40">

            <i style="font-size: 50px;" class="fa fa-money fa-stack-1x"></i>

          </span>

            <h4>Payments</h4>

            <p>Learn how to manage and recieve payments here.</p>
          </div>
          </a>
        </div>

        <div class=" col-sm-3 col-xs-12 mb40 text-center mt40">
          <!--<a href="/support/video-guides/delivery">-->
          <div class="module" style="opacity: .5;">

          <span class="fa-stack fa-lg mb40 mt40">

            <i style="font-size: 50px;" class="fa fa-truck fa-stack-1x"></i>


</span>

            <h4>Delivery <br/>(Coming Soon)</h4>

            <p>Learn about delivery options.</p>
          </div>
            <!--</a>-->
        </div>

        <div class=" col-sm-3 col-xs-12 mb40 text-center mt40">

          <div class="module" style="opacity: .5;">

          <span class="fa-stack fa-lg mb40 mt40">

            <i style="font-size: 50px;" class="fa fa-line-chart fa-stack-1x"></i>

  </span>

            <h4>Reporting <br/>(Coming Soon)</h4>

            <p>Create and export custom reports.</p>
          </div>


        </div>

        <div class=" col-sm-3 col-xs-12 mb40 text-center mt40">
          <a href="/support/video-guides/clients">
          <div class="module">

          <span class="fa-stack fa-lg mb40 mt40">

            <i style="font-size: 50px;" class="fa fa-users fa-stack-1x"></i>

</span>

            <h4>Clients</h4>

            <p>Learn how to manage your buyers.</p>
          </div>
            </a>
        </div>

      </div>

      <!--END ROW TWO-->


      <!--ROW THREE-->

      <!--<div class="row">-->
        <!--<div class=" col-sm-3 col-xs-12 mb40 text-center mt40">-->

          <!--<a href="/support/video-guides/payments">-->
            <!--<div class="module">-->

          <!--<span class="fa-stack fa-lg mb40 mt40">-->

            <!--<i style="font-size: 50px;" class="fa fa-stack-1x cir-text">e</i>-->



          <!--</span>-->

              <!--<h4>New to Exchange?</h4>-->

              <!--<p>Onboarding videos for the Exchange.</p>-->
            <!--</div>-->
          <!--</a>-->
        <!--</div>-->

        <!--<div class=" col-sm-3 col-xs-12 mb40 text-center mt40">-->
          <!--&lt;!&ndash;<a href="/support/video-guides/delivery">&ndash;&gt;-->
          <!--<div class="module" style="opacity: .5;">-->

          <!--<span class="fa-stack fa-lg mb40 mt40">-->

            <!--<i style="font-size: 50px;" class="fa fa-truck fa-stack-1x"></i>-->


<!--</span>-->

            <!--<h4>Delivery <br/>(Coming Soon)</h4>-->

            <!--<p>Learn about delivery options.</p>-->
          <!--</div>-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--</div>-->

        <!--<div class=" col-sm-3 col-xs-12 mb40 text-center mt40">-->

          <!--<div class="module" style="opacity: .5;">-->

          <!--<span class="fa-stack fa-lg mb40 mt40">-->

            <!--<i style="font-size: 50px;" class="fa fa-line-chart fa-stack-1x"></i>-->

  <!--</span>-->

            <!--<h4>Reporting <br/>(Coming Soon)</h4>-->

            <!--<p>Create and export custom reports.</p>-->
          <!--</div>-->


        <!--</div>-->

        <!--<div class=" col-sm-3 col-xs-12 mb40 text-center mt40">-->
          <!--<a href="/support/video-guides/clients">-->
            <!--<div class="module">-->

          <!--<span class="fa-stack fa-lg mb40 mt40">-->

            <!--<i style="font-size: 50px;" class="fa fa-users fa-stack-1x"></i>-->

<!--</span>-->

              <!--<h4>Clients</h4>-->

              <!--<p>Learn how to manage your buyers.</p>-->
            <!--</div>-->
          <!--</a>-->
        <!--</div>-->

      <!--</div>-->

      <!--END ROW THREE-->


    </div>
  </div>


</div><!-- CONTENT -->

<% include /partials/footer %>
